<template>
    <view class="placeorder">
        <view class="main">
            <view class="kong"></view>
            <view class="ress">
                <view class="ress_icon">
                    <image src="../../static/delive-dot.png" witth="10rpx" lazy-load="true" />
                </view>
                <view class="ress_text">
                    <p class="P1">
                        <text>{{RessList.receiver}}</text>{{RessList.mobile}}
                    </p>
                    <p class="P2">{{RessList.province}}{{RessList.city}}{{RessList.area}}{{RessList.addr}}</p>
                </view>
                <view class="ress_rigth">></view>
                <view></view>
            </view>
            <view class="kong1"></view>
            <view class="cart">
                <view class="Call" v-for="(item, index) in cartList" :key="index">
                    <image :src="item.pic" lazy-load="true" />
                    <view class="Call_item">
                        <p class="Call_p1">{{item.prodName}}</p>
                        <p class="Call_p2">￥{{item.price}}.00<text>X{{item.prodCount}}</text> </p>
                    </view>
                </view>
                <view class="ji">
                    <text>
                        共{{totalnum}}件商品 合计：￥{{totalprice}}
                    </text>
                </view>
                <view class="kong1"></view>
                <view class="yuhui">
                    <p class="y1">优惠卷:暂无可用<text class="youhui_text">0张 ></text></p>
                    <p>买家留言：<text>给卖家留言</text></p>
                </view>
                <view class="kong1"></view>
                <view class="price">
                    <p>订单金额：<text>￥{{totalprice}}.00</text></p>
                    <p>运费：<text>￥0.00</text></p>
                    <p>优惠金额：<text>-￥0.00</text></p>
                    <p class="hr"><text>小计：￥{{totalprice}}</text></p>
                </view>
            </view>
        </view>
        <view class="footer">
            <view class="text">
                合计：
                <text>
                    ￥{{totalprice}}.00
                </text>
            </view>
            <view class="Submit" @click="SubmitBtn">
                提交订单
            </view>
        </view>
    </view>
</template>

<script>
import { getRess_list } from "../../services/ress/index"
import { create_order, send_order, del_Cart } from "../../services/shop/index"
export default {
    data() {
        return {
            RessList: {},
            cartList: [],
            totalprice: 0,
            totalnum: 0,
            flag: false
        }
    },
    onLoad(option) {
        // 穿过来的参
        this.cartList = JSON.parse(option.arr);
        this.totalprice = option.totalPrice;
        this.totalnum = option.totalNum;
        if (option.flag) {
            this.flag = option.flag
        }
    },
    onShow() {
        this.init();
    },
    async onUnload() {
        if (this.flag) {
            const res = await del_Cart([this.cartList[0].basketId]);
            // console.log(res, "----shanchu");
        }
    },
    methods: {
        // 获取地址
        async init() {
            const res = await getRess_list();
            this.RessList = res.filter((item) => {
                return item.commonAddr == 1;
            })[0];
            console.log(this.RessList);
        },
        async SubmitBtn() {
            let arr = []
            await this.cartList.forEach((item) => {
                arr.push(item.basketId)
            });
            try {

            } catch (error) {

            }
            const res = await create_order({
                "addrId": this.RessList.addrId,
                "basketIds": arr
            })
            const orderResult = await send_order({
                shopId: res.shopCartOrders[0].shopId
            });
            // orderResult.orderNumbers
            if (orderResult.orderNumbers) {
                console.log(orderResult, "res--------");
                uni.redirectTo({
                    url: `/pages/PaymentPage/index?orderNumbers=${orderResult.orderNumbers}&totalprice=${this.totalprice}`
                })
            } else {
                uni.showToast({
                    title: '库存不足',
                    icon: "none"
                });
            }
        }
    },

}
</script>
<style lang="scss" scoped>
.placeorder {
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);

    .main {
        width: 100%;
        height: calc(100% - 130rpx);
        // background-color: antiquewhite;
        background: rgb(236, 236, 236);
        overflow: scroll;


        .kong {
            width: 100%;
            height: 11rpx;
            background: rgb(255, 255, 255);
        }

        .ress {
            width: 100%;
            height: 120rpx;
            background: rgb(255, 255, 255);
            display: flex;

            .ress_icon {
                width: 100rpx;
                // background-color: #f00;
                text-align: center;

                image {
                    width: 50rpx;
                    height: 50rpx;
                    margin-top: 10rpx;
                }
            }

            .ress_text {
                width: 600rpx;
                // background-color: antiquewhite;

                .P1 {
                    width: 100%;
                    height: 50%;
                    // border-bottom: 1px solid #ccc;
                    font-size: 30rpx;
                    line-height: 60rpx;

                    text {
                        padding-right: 20rpx;
                        font-size: 33rpx;
                    }
                }

                .P2 {
                    width: 100%;
                    height: 50%;
                    line-height: 60rpx;
                    margin-top: -1rpx;
                    overflow: hidden; //超出的文本隐藏
                    text-overflow: ellipsis; //溢出用省略号显示
                    white-space: nowrap; // 默认不换行；

                }
            }

            .ress_rigth {
                width: 60rpx;
                // background-color: #f00;
                text-align: center;
                line-height: 120rpx;
                font-size: 40rpx;
                color: rgb(0, 0, 0);
            }
        }

        .cart {
            width: 100%;
            background: rgb(255, 255, 255);

            .Call {
                width: 100%;
                height: 200rpx;
                // border: 1rpx solid #ccc;
                display: flex;

                image {
                    width: 160rpx;
                    height: 160rpx;
                    margin-top: 20rpx;
                    margin-left: 32rpx;
                }

                .Call_item {
                    // background-color: #ccc;
                    width: 540rpx;
                    margin-left: 20rpx;

                    .Call_p1 {
                        width: 100%;
                        height: 121rpx;
                        /* padding-top: 28rpx; */
                        margin-top: 27rpx;
                        font-size: 30rpx;
                        // background-color: antiquewhite;
                    }

                    .Call_p2 {
                        width: 100%;
                        height: 36rpx;
                        // background-color: #ccc;
                        font-size: 29rpx;

                        text {
                            float: right;
                            margin-right: 34rpx;
                            color: #ccc;
                            font-size: 29rpx;
                            line-height: 31rpx;
                        }
                    }
                }
            }

            .ji {
                width: 100%;
                height: 70rpx;
                // background-color: #f00;
                border-top: 1rpx solid #ccc;

                text {
                    float: right;
                    font-size: 30rpx;
                    line-height: 70rpx;
                    margin-right: 34rpx;
                }
            }

            .yuhui {
                width: 100%;
                height: 140rpx;
                background: rgb(255, 255, 255);

                p {
                    display: block;
                    width: 92%;
                    height: 70rpx;
                    margin-left: 34rpx;
                    line-height: 70rpx;
                    font-size: 28rpx;

                    border-bottom: 1rpx solid #ccc;

                    .youhui_text {
                        float: right;
                    }

                    text {
                        color: #ccc;
                    }
                }

            }

            .price {
                width: 100%;
                height: 400rpx;

                p {
                    width: 92%;
                    height: 100rpx;
                    margin-left: 34rpx;
                    line-height: 100rpx;
                    font-size: 30rpx;

                    text {
                        float: right;
                        color: #f00;
                    }
                }
            }

            .hr {
                border-top: 1rpx solid #ccc;
            }
        }
    }

    .footer {
        width: 100%;
        height: 130rpx;
        // background-color: aqua;
        background-color: rgb(255, 255, 255);
        display: flex;
        line-height: 101rpx;
        font-size: 30rpx;

        .text {
            width: 300rpx;
            padding-left: 36rpx;

            text {
                padding-left: 10rpx;
                color: #f00;
            }
        }

        .Submit {
            width: 200rpx;
            height: 100rpx;
            background: #f00;
            color: white;
            text-align: center;
            font-size: 22rpx;
            margin-left: 250rpx;
        }
    }

    .kong1 {
        width: 100%;
        height: 15rpx;
        background: rgb(236, 236, 236);
    }
}
</style>