<template>
	<view class="content">
    <view class="bg-sear">
      <view class="scrolltop">
        <view class="section" @click="toDetail()">
          <img src="@/static/icon/search.png" class="search-img"/>
          <text class="placeholder">搜索</text>
        </view>
      </view>
    </view>
	<!-- ---------------轮播图 -->
  <view class="swipercontent">
	<view class="swiper">
	   <view>
	   		<view class="uni-margin-wrap">
	   			<swiper class="swiper" circular :indicator-dots="indicatorDots" :autoplay="autoplay" :interval="interval"
	   				:duration="duration">
	   				<swiper-item v-for="(item,index) in IndexImg" :key="index" >
	   					<img :src="item.imgUrl" class="swiperimg" @click="ImgDel(item.relation)" />
	   				</swiper-item>
	   				
	   			</swiper>
	   		</view>
	   		</view>
	   		</view>
        </view>
		<!-- ---------------------轮播图 -->
		<!-- -----------------新品推荐 -->
		    <view class="cat-item">
		          <view class="item" @click="newProd">
		           <img src='../../static/newProd.png' class="dtimg"/>
		            <text>新品推荐</text>
		          </view>
		          <view class="item" @click="newProd">
		            <img src='../../static/timePrice.png' class="dtimg"/>
		            <text>限时特惠</text>
		          </view>
		          <view class="item" @click="snap">
		            <img src='../../static/neweveryday.png' class="dtimg"/>
		            <text>每日疯抢</text>
		          </view>
		        </view>
		<!-- -----------------新品推荐 -->
		
		      <!-- ----------------------通知 -->
          <view class="play">
			<view class="message-play" @click="toinform">
			<van-tag type="danger" class="hornpng">通知</van-tag>
			<swiper
				vertical="true"
				autoplay="true"
				duration="1000"
				class="swiper-cont"
			>
				<block v-for="(val, index) in topNoticeList" :key="index">
				<swiper-item class="items">{{ val.title }}</swiper-item>
				</block>
			</swiper>
		
			</view>
      </view>
			  <!-- --------------------通知 -->
			<!-- ------------------------每日上新 -->
			<view >
			      <!-- 每日上新 -->
			      <view  class="hot-sale" v-for="(item,index) in ProdTagList" :key="index">
			        <view class="title" v-if="(item.id===2)">
                <view >
			          <view>{{item.title}}</view>
			          <view class="more" @click="newProd">更多></view>
			         </view>
			        </view>
			        <view class="hotsale-item-cont">
			          <view
			            v-for="(val, index) in data"
			            :key="index"
			            class="prod-items"
			            @click="goDetail(val.prodId)"
			          >
                <view class="hhot">
			            <view class="hot-imagecont">
			              <img
			                :src="val.pic"
			                class="hotsaleimg"
			               
			              />
			          
			            </view>
			            <view class="hot-text">
			              <view class="hotprod-text">{{ val.prodName }}</view>
			              <view class="prod-info">{{ val.brief }}</view>
			              <view class="prod-text-info">
			                <view class="price">
			                  <text class="symbol">￥</text>
			                  <text class="big-num">{{
									val.price
								}}</text>
								<img src='../../static/basket-sel.png' class="dddimg">
			                  <text class="small-num"></text>
			                </view>
			              </view>
			            </view>
                  </view>
			          </view>
			        </view>
					<!-- 更多宝贝 -->
      <view  class="hot-sale">
		
        <view class="title" v-if="(item.id===3)">
          <view>{{item.title}}</view>
          <view class="more" @click="more">更多></view>
        
        </view>
        <view class="hotsale-item-cont">
          <view
            v-for="val in ProdList"
            :key="val.pic"
            class="prod-items"
            @click="goDetail(val.prodId)"
          >
            <dt
              class="hotsaleimg"
            
            >
              <img :src="val.pic" alt="" />
            </dt>
            <dd class="hotprod-text">{{ val.prodName }}</dd>
            <dd class="prod-info">{{ val.brief }}</dd>
            <view class="prod-text-info">
              <dd class="price">
                <span class="symbol">￥</span>
               <text class="big-num">{{
                    val.price
                  }}</text>
				  <img src='../../static/basket-sel.png' class="dddimg">
                  <text class="small-num"></text>
              </dd>
            </view>
          </view>
        </view>
      </view>
      <!-- 更多宝贝 -->
	   <!-- <view class="hot-sale">
        <view class="title">
          <view>更多宝贝</view>
        </view>
        <view class="prod-show">
          <dl
            v-for="(val, index) in data"
            :key="index"
            class="show-item"
            @click="goDetail(val.prodId)"
          >
            <dt class="more-prod-pic">
              <img :src="val.pic" alt="" class="more-pic" />
            </dt>
            <view class="prod-text-right">
              <dd class="prod-text">{{ val.prodName }}</dd>
              <dd class="prod-info">{{ val.brief }}</dd>
              <view class="b-cart">
                <dd class="price">
                  <span class="symbol">￥</span>
                 <text class="big-num">{{
                    val.price
                  }}</text>
              
                </dd>
              
              </view>
            </view>
          </dl>
        </view>
      </view> -->
			      </view>
	   	</view>
	</view>
	  
	
</template>

<script>
import vanSearch from "@/wxcomponents/vant/dist/search/index";
import vanTag from "@/wxcomponents/vant/dist/tag/index";
import { _prodListById, ProdTag,indexImg,topNotice } from "@/services/foot";
export default {
  data() {
    return {
      imgs: [],
      ProdList: [],
      ProdTagList: [],
      data:[],
      indicatorDots: true,
      autoplay: true, //页面在动切换
      interval: 2000, //间隔时间
      duration: 500,//滑动动画时长
      IndexImg:[],
      topNoticeList:[],//通知数据
      };
  },
  //监听页面加载完成
  async onLoad() {
    await this.prodIdList();
    await this.prodTag();
    await this.Image();
    await this.topNotice()
  },

  methods: {
    //数据请求
    async prodIdList() {
      const res = await _prodListById({ tagId: 1, size: 6 });
      this.ProdList = res[1].productDtoList,
	  this.data=res[0].productDtoList,
      console.log(res, "54654654");
    },
 
	//轮播图数据请求
	async Image() {
      const res = await indexImg({});
      this.IndexImg = res;
	  console.log(this.IndexImg ,'轮播图')
    },
    //标题数据
    async prodTag() {
      const res = await ProdTag({});
      this.ProdTagList = res;
	  console.log(this.ProdTagList,'liuzhaoxu')
    },
	//商品 跳详情
    goDetail(id) {
      console.log(id);
      this.$goPage({
        url: "/detailPkg/details/index",		  
        query: {
          prodId: id,
        },
      });
    },
	//通知数据
    async topNotice() {
      const res = await topNotice({});
      this.topNoticeList = res;
      console.log(this.topNoticeList,'通知数据')
    },
    //轮播图跳详情
     async ImgDel(id) {
     await this.$goPage({
        url: "/detailPkg/details/index",
        query: {
          prodId:id
		}
      });
    },
	 //新品推荐跳详情
	 newProd(){
		this.$goPage({
			url: "/pages/newProd/index",
		})
	 },
	 //通知 跳转详情
    toinform() {
      this.$goPage({
        url: "/pages/inform/index",
      });
    },
	//疯狂抢购
	snap(){
		this.$goPage({
			url:"/pages/snap/index",
		});
	},
	more(){
		this.$goPage({
			url:"/pages/more/index"
		})
	},
  //搜索 跳转详情
    toDetail() {
      this.$goPage({
        url: "/pages/classfiysearch/index",
        query: {
          id: 9,
        },
      });
    },
  },

  mounted() {
    uni.request({
      url: "https://bjwz.bwie.com/mall4j/indexImgs",
      success: (res) => {
        this.imgs = res.data;
      },
      fail: (err) => {
        console.log(err);
      },
    });
  },
  components: {
    vanSearch,
    vanTag,
  },
};
</script>

<style>
.content {
  width: 100%;
  height: auto;
  overflow: auto;
  background: #f1f1f1;
}
.swipercontent{
  width: 100%;
  height: auto;
  background: #fff;
}
.play{
  width: 100%;
  height: auto;
  background: #fff;
}
.bg-sear {
  position: fixed;
  z-index: 999;
  width: 100%;
  line-height: 56rpx;
  background: #fff;
 
  text-align: center;
  top: 0;
}
.bg-sear .section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rpx;
  background: #fff;
  z-index: 1;
  border-radius: 50rpx;
  width: 92%;
  margin: auto;
  left: 4%;
  background: #f7f7f7;
}
.bg-sear .section .search-img {
  width: 32rpx;
  height: 32rpx;
  margin-right: 10rpx;
}
.bg-sear .section .placeholder {
  display: block;
  font-size: 24rpx;
  color: #999;
}
.bg {
  width: 200rpx;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(245, 246, 247);
  margin-top: 66rpx;
  overflow: scroll;
  z-index: 2;
}

.uni-margin-wrap {
  width: 690rpx;
  width: 95%;
  margin-left: 8px;
}
.swiper {
  height: 400rpx;
  margin-top: 30px;
}
.swiper-item {
  display: block;
  height: 400rpx;
  line-height: 400rpx;
  text-align: center;
}
.swiper-list {
  margin-top: 40rpx;
  margin-bottom: 0;
}
.nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-top: 20px;
}
.swiperimg {
  width: 100%;
  height: 100%;
}
.dtimg {
  width: 35px;
  height: 35px;
}
.dddimg {
  width: 25px;
  height: 25px;
  margin-left: 80px;
}
.ddtext {
  font-size: 13px;
  margin-top: 12px;
  font-size: #ccc;
}
/*新品推荐 限时特惠 每日疯抢*/
.cat-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding-top: 20rpx;
  padding-bottom: 30rpx;
}

.cat-item .item {
  text-align: center;
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.cat-item .item image {
  width: 75rpx;
  height: 75rpx;
}

.cat-item .item text {
  font-size: 26rpx;
  margin-top: 20rpx;
}
.hotsale-item-cont {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
 justify-content: space-around;
 border-radius: 5px;
 background: #fff;
}  
.hot-sale  .prod-show{
  background-color: #fff;
}

.hot-sale .prod-items {
  width: 345rpx;
  display: inline-block;
  background: #fff;
  padding-bottom: 20rpx;
  box-sizing: border-box;
  box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);

}
.prod-items .hotsaleimg img {
  width: 333rpx;
  height: 341rpx;

}
.hotsaleimg  {
  width: 333rpx;
  height: 350rpx;
}
.prod-items .hotprod-text {
  font-size: 28rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20rpx;
}
.prod-items .prod-info {
  font-size: 22rpx;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.prod-items {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 26rpx;
  margin-bottom: 10px;
}

.prod-text-info {
  position: relative;
  height: 70rpx;
  line-height: 70rpx;
  font-family: Arial;
  padding: 0 10px;
}
.price {
  position: relative;
  height: 70rpx;
  line-height: 70rpx;
  font-family: Arial;
  color: #eb2444;
}
.prod-text-info .big-num {
  font-size: 32rpx;
}
.title {
  position: relative;
  height: 64rpx;
  line-height: 64rpx;
  font-size: 32rpx;
  padding: 40rpx 0 10rpx 30rpx;
  color: #333;
  background: #fff;
}
.more {
  position: absolute;
  right: 30rpx;
  top: 48rpx;
  color: #666;
  font-size: 24rpx;
  padding: 0 20rpx;
  height: 44rpx;
  line-height: 44rpx;
}
.basket-img {
  width: 50rpx;
  height: 50rpx;
  position: absolute;
  right: 0;
  bottom: 7rpx;
  padding: 8rpx;
}
/* 更多宝贝 */
.show-item {
  position: relative;
  display: flex;
  padding: 20rpx;
  justify-content: start;
  border-top: 2rpx solid #f4f4f4;
}
.more-prod-pic {
  width: 250rpx;
  height: 250rpx;
}
.more-pic {
  max-width: 100%;
  max-height: 100%;
}
.prod-text-right {
  margin-left: 30rpx;
  width: 72%;
  padding-bottom: 10rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.prod-text {
  margin: 0;
  font-size: 28rpx;
  overflow: hidden;
  margin-bottom: 20rpx;
  display: -webkit-box;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.prod-info {
  font-size: 22rpx;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-cart {
  margin-top: 30rpx;
}

.message-play {
  position: relative;
  width: 690rpx;
  height: 90rpx;
  background: #fff;
  margin: auto;
  padding: 0 60rpx 0 100rpx;
  box-sizing: border-box;
  box-shadow: 0 16rpx 32rpx 0 rgba(7, 17, 27, 0.05);
}

.message-play .hornpng {
  width: 77rpx;
  height: 36rpx;
  position: absolute;
  left: 20rpx;
  top: 27rpx;
  margin-right: 8rpx;
}

.message-play .swiper-cont {
  height: 90rpx;
  line-height: 90rpx;
}

.message-play .swiper-cont .items {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: left;
  font-size: 13px;
}

</style>