<template>
	<view class="address">
		<view class="kong"></view>
		<p><text>姓名</text><input type="text" v-model="addrInfo.receiver" placeholder="收货人姓名"></p>
		<p><text>电话</text><input v-model="addrInfo.mobile" placeholder="收货人手机号"></p>
		<!-- 地区 -->
		<view class="kong1"></view>
		<view v-if="hackReset"> <Area></Area></view>

		<p>
			<text>详细地址</text>
			<input v-model="addrInfo.addr" placeholder="街道门牌、楼层房间号等信息">
			<img class="addr_imgLogo" src="../../static/dot.png" alt="" @click="goMap" />
		</p>
		<p><text>邮政编码</text><input v-model="addrInfo.postCode" placeholder="邮政编码"></p>
		<p>
			设为默认收货地址 <switch class="switch" :checked="commonAddr" @change="switch1Change"></switch>
		</p>
		<view class="btnBox">
			<button @click="Btn">保存</button>
		</view>
	</view>
</template>

<script>
// 引用地址
import area1 from "@/components/area/index";
import {
	addAddr
} from "../../services/ress/index";
const chooseLocation = requirePlugin('chooseLocation');
export default {
	components: {
		'Area': area1
	},
	data() {
		return {
			addrInfo: {
				addr: "", //地址
				addrId: 0, //id
				area: "", //区
				areaId: 0, //id
				city: "", //市
				cityId: 0, //id
				mobile: "", //手机
				province: "", //省
				provinceId: 0, //id
				receiver: "", //收货人
				commonAddr: false, //默认地址
				postCode: '', //邮箱
			},
			hackReset: true
		};
	},
	onShow() {
		// 从地图选点插件返回后，在页面的onShow生命周期函数中能够调用插件接口，取得选点结果对象
		const location = chooseLocation.getLocation() // 如果点击确认选点按钮，则返回选点结果对象，否则返回null
		console.log(location, "地图选点");
		if (location !== null) {
			this.addrInfo.addr = location.address + location.name; //地址
			this.addrInfo.city = location.city; //市
			this.addrInfo.province = location.province; //省
			this.addrInfo.area = location.district; //区
			// this.addrInfo.addrId = new Date() * 1;
			// this.addrInfo.cityId = new Date() * 2;
			// this.addrInfo.provinceId = new Date() * 3;
			// this.addrInfo.areaId = new Date() * 4;
			// 省市区
			uni.setStorageSync('location', JSON.stringify(location));
			this.hackReset = false;
			this.$nextTick(() => {
				this.hackReset = true;
			})
		}
	},
	onUnload() {
		uni.removeStorageSync('location');
		uni.removeStorageSync('pickerText');
	},
	methods: {
		goMap() { //跳转地图插件
			const key = "SLFBZ-RJCEU-GZKVQ-BY6SA-KVQKQ-QCBKS"; //使用腾讯位置服务的申请key值
			const referer = '八位电商平台'; //调用插件的小程序app的名称
			const location = JSON.stringify({ //地图经纬点  设置中心点
				latitude: 39.89631551,
				longitude: 116.323459711
			});
			const category = '生活服务,娱乐休闲';
			// 跳转到地图插件
			wx.navigateTo({
				url: `plugin://chooseLocation/index?key=${key}&referer=${referer}&location=${location}&category=${category}`
			});
		},
		switch1Change(e) {
			this.addrInfo.commonAddr = e.detail.value;
			console.log(e.detail.value, this.addrInfo.commonAddr, 'e.detail.value');
		},
		async Btn() {
			if (chooseLocation.getLocation() == null) {
				const {
					areaCode,
					cityCode,
					label,
					provinceCode
				} = JSON.parse(uni.getStorageSync("pickerText"));
				// console.log(areaCode, cityCode, label, provinceCode, "-------pickerText-------");
				const arr = label.split("-");
				// console.log(new Date() * 1, "1111111111");
				// this.addrInfo.addrId = 0;
				// 省市区 ID
				// this.addrInfo.areaId = areaCode;

				// this.addrInfo.cityId = cityCode;
				// this.addrInfo.provinceId = provinceCode;

				// 省市区
				this.addrInfo.province = arr[0];
				this.addrInfo.city = arr[1];
				this.addrInfo.area = arr[2];
			}
			//判断是否为空
			if (this.addrInfo.mobile == "" &&
				this.addrInfo.receiver == "" &&
				this.addrInfo.addr == "" &&
				this.addrInfo.province == "") {
				console.log("输入框不能为空");
				return;
			} else {
				// console.log(this.addrInfo.commonAddr, "this.addrInfo.commonAddr");
				// console.log(this.addrInfo, "地址回显");
				const res = await addAddr(this.addrInfo);
				console.log(res, "----添加地址----");
				if (res == "该地址已存在") {
					uni.showToast({
						title: res,
						icon: "none"
					});
				} else {
					uni.navigateBack({
						delta: 1
					});
				}
			}
			//判断是否设置默认地址
			if (this.addrInfo.commonAddr) {
				uni.setStorageSync('flag', true);
			}
		}

	},
}
</script>


<style lang="scss" scoped>
.address {
	width: 100%;
	height: 100%;
	background: rgb(241, 241, 241);

	.kong {
		width: 100%;
		height: 2px;
		// background: rgb(241, 241, 241);
	}

	.kong1 {
		width: 100%;
		height: 10px;
		// background: rgb(241, 241, 241);
	}

	p {
		height: 50px;
		width: 90%;
		padding-left: 10px;
		display: flex;
		background-color: rgb(255, 255, 255);
		line-height: 50px;
		margin-top: 10px;
		margin-left: 3%;
		border-radius: 10px;

		text {
			display: inline-block;
			width: 50px;
			text-align: center;
		}

		input {
			width: 75%;
			padding-left: 15px;
			margin-top: 13px;
		}

		.addr_imgLogo {
			width: 24px;
			height: 25px;
			margin-top: 10px;
			margin-right: 10px;
		}

		.switch {
			padding-left: 135px;
		}
	}

	.btnBox {
		width: 100%;
		margin-top: 20px;
		color: white;

		button {
			margin-top: 10px;
			width: 94%;
			border-radius: 100px;
			overflow: hidden;
			background-color: rgb(238, 10, 36);
			color: white;
			height: 40px;
			line-height: 40px;
		}
	}
}
</style>
