<template>
  <view class="collect">
    <view class="collect_list">
      <view class="collect_view">
        <view
          v-for="(item, index) in list"
          :key="index"
          @click="goDetail(item.prodId)"
          class="collect_img"
        >
          <img :src="item.pic" alt="" />
          <view class="collect_prodName"> {{ item.prodName }}</view>
          <view class="collect_price">￥{{ item.price }}</view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { _like_list } from "../../services/index";
export default {
  data() {
    return {
      list: [],
    };
  },
  async onLoad() {
    await this.init();
  },
  methods: {
    goDetail(id) {
      // console.log(id);
      this.$goPage({
        url: "/detailPkg/details/index",
        query: {
          prodId: id,
        },
      });
    },
    async init() {
      const result = await _like_list();
      // console.log(result.records);
      // console.log(result.records[0], "like");
      this.list = result.records;
    },
  },
};
</script>

<style>
.collect {
  width: 100%;
  height: 100%;
}
.collect_list {
  display: flex;
  flex-wrap: wrap;
}
.collect_view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border: 1rpx solid #ccc; */
}
.collect_img {
  width: 45%;
  padding: 5px;
  margin-left: 2rpx;
}
.collect_view img {
  display: inline-block;
  width: 320rpx;
  height: 300rpx;
  overflow: hidden;
  margin: 5px;
}
.collect_price {
  color: #e22450;
  font-weight: bold;
  margin-top: 5px;
}
</style>