<template>
	<view>
		<view class="empty" v-if="!goods.length">
			<image src="https://img0.baidu.com/it/u=1335932121,1464058579&fm=253&fmt=auto&app=138&f=JPEG?w=610&h=499"
				mode="widthFix" style="width: 400rpx;"></image>
			<view class="kong"></view>
			<view class="empty-text">空空如也的购物</view>
			<view class="empty-button" @click="goshopping">去选购吧</view>
		</view>
		<view v-else>
			<view class="goods-detail" v-for="(item,index) in goods" :key="index">
				<view class="detail-left">
					<view class="goods-left">
						<checkbox-group @change="selected(item)">
							<label>
								<checkbox class="selected" color="#555555" :checked="item.flag" /><text></text>
							</label>
						</checkbox-group>
						<image :src="item.pic" style="width: 150rpx;height: 140rpx;"></image>
					</view>
					<view class="size">
						<text
							style="font-size: 13px;width: 260rpx;height: 90rpx;overflow: hidden;display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;">{{item.prodName}}</text>
						<text class="goods-price">￥{{item.price.toFixed(2)}}</text>
					</view>
				</view>
				<view class="detail-right">
					<text class="subtract" @click="reduce(item)">-</text>
					<text class="num">{{item.prodCount}}</text>
					<text @click="add(item)" class="add">+</text>
				</view>
			</view>
			<view class="kong"></view>
		</view>
		<view class="end">
			<view class="end-left">
				<checkbox-group @change="selectgoods()">
					<label>
						<checkbox :checked="allchecked" />全选
					</label>
				</checkbox-group>
				<text class="end-del" @click="delBtn">
					删除
				</text>
				<view>
					总计：<text style="color: #f00;font-weight: bold;">￥ {{(totalPrice*1).toFixed(2)}}</text>
				</view>
			</view>
			<view class="end-right" @click="settlementBtn">
				结算({{totalNum}})
			</view>


		</view>
	</view>
</template>

<script>
	import {
		getCart_list,
		upCart_list,
		getCart_num,
		del_All_Cart,
		del_Cart
	} from "../../services/shop/index";
	export default {
		data() {
			return {
				allchecked: true,
				checked: true,
				goods: []
			}
		},
		onShow() {
			this.init()
		},
		methods: {
			// 初始化
			async init() {
				const res = await getCart_list();
				try {
					this.goods = res[0].shopCartItemDiscounts[0].shopCartItems;

					this.goods.forEach(item => {
						this.$set(item, "flag", this.allchecked)
					});
					console.log(this.goods, "----购物数据-----");
				} catch (error) {
					this.goods = [];
				}

			},
			// 结算
			settlementBtn() {
				let arr = [];
				this.goods.forEach(item => {
					if (item.flag) {
						arr.push(item)
					}
				})
				if (arr.length) {
					uni.navigateTo({
						url: `/pages/placeorder/index?arr=${JSON.stringify(arr)}&totalPrice=${this.totalPrice}&totalNum=${this.totalNum}`,
					})
				} else {
					uni.showToast({
						title: "您还没有选择商品哟",
						icon: "none"
					});
				}

			},
			// 跳转到首页
			goshopping() {
				uni.switchTab({
					url: '/pages/index/index'
				});
			},
			// 删除
			async delBtn() {
				const flag = await this.goods.every((item) => {
					return item.flag === true;
				})
				if (flag) {
					const res = await del_All_Cart();
					uni.showToast({
						title: res,
						icon: 'none'
					})
				} else {
					const arr = [];
					await this.goods.forEach((item) => {
						if (item.flag) {
							arr.push(item.basketId)
						}
					})
					await del_Cart(arr);
				}
				this.init()
			},
			change(e) {
				console.log(e)
			},
			// 单选
			selected(item) {
				item.flag = !item.flag
				if (!item.flag) {
					this.allchecked = false

				} else {
					const a = this.goods.every((item) => {
						return item.flag === true
					})
					console.log(a, "-----aaa----");
					if (a) {
						this.allchecked = true
					} else {
						this.allchecked = false
					}
				}
			},
			// 全选
			selectgoods() {
				this.allchecked = !this.allchecked
				if (this.allchecked) {
					this.goods.map(item => {
						this.checked = true
						item.flag = true
					})
				} else {
					this.checked = false
					this.goods.map(item => {
						item.flag = false
					})
				}
			},
			// 减
			async reduce(item) {
				if (item.prodCount > 1) {
					const res = await upCart_list({
						"basketId": item.basketId,
						"count": -1,
						"distributionCardNo": item.distributionCardNo,
						"prodId": item.prodId,
						"shopId": item.shopId,
						"skuId": item.skuId
					})
					console.log(res, "---");
					this.$set(item, 'prodCount', item.prodCount - 1);
				} else {
					try {
						const res = await del_Cart([item.basketId]);
						console.log(res, "------  减到1 删除-----");
						this.init()
						uni.showToast({
							title: "商品删除成功",
							icon: 'none'
						});
						this.init()

					} catch (err) {
						console.error(err);
					}
				}

				// console.log("jian");
			},
			// 加
			async add(item) {
				try {
					// 执行加数量
					const res = await upCart_list({
						"basketId": item.basketId,
						"count": +1,
						"distributionCardNo": item.distributionCardNo,
						"prodId": item.prodId,
						"shopId": item.shopId,
						"skuId": item.skuId
					})
					// console.log(res, "---");
					if (res == "库存不足") {
						uni.showToast({
							title: res,
							icon: 'none'
							// duration: 2000
						});
					} else {
						this.$set(item, 'prodCount', item.prodCount + 1)
					}
					// this.init()

				} catch (error) {
					console.error(error);
				}
			}
		},
		computed: {
			totalNum() {
				let totalNum = 0;
				this.goods.map(item => {
					item.flag ? totalNum += item.prodCount : totalNum += 0
				})
				return totalNum;
			},

			totalPrice() {
				let totalPrice = 0;
				this.goods.map(item => {
					item.flag ? totalPrice += item.prodCount * item.price : totalPrice += 0
				})
				return totalPrice;
			}
		}
	}
</script>

<style lang="scss">
	.goods {
		line-height: 80rpx;
		background-color: #FFFFFF;

		&-detail {
			display: flex;
			padding: 30rpx 15rpx 30rpx 30rpx;
			background-color: #fff;
			justify-content: space-between;
			border-bottom: 5rpx solid #F1F1F1;
			align-items: center;

			.detail-left {
				display: flex;

				.goods-left {
					display: flex;
					align-items: center;
				}
			}

			.size {
				display: flex;
				justify-content: space-around;
				flex-direction: column;
				margin-left: 30rpx;

				.goods-price {
					font-size: 25rpx;
					color: #F44545;

				}
			}

			.detail-right {
				text {
					width: 50rpx;
					line-height: 50rpx;
					text-align: center;
					display: inline-block;
					background-color: #F7F7F7;
					margin-right: 10rpx;
				}

				.add {
					color: #FA4305;
					border-radius: 10rpx 30rpx 30rpx 10rpx;
					margin-right: 20rpx;
				}

				.subtract {
					border-radius: 30rpx 10rpx 10rpx 30rpx;
				}
			}
		}
	}

	.empty {

		position: relative;
		top: 220rpx;
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;

		&-text {
			color: #808080;
			margin-bottom: 50rpx;
		}

		&-button {
			width: 300rpx;
			height: 90rpx;
			color: orange;
			border: 1rpx solid orange;
			text-align: center;
			line-height: 90rpx;
			border-radius: 48rpx;
		}
	}

	.kong {
		width: 100%;
		height: 45rpx;
		background-color: #fff;

	}

	.end {
		width: 100%;
		height: 90rpx;
		background-color: #fff;
		position: fixed;
		bottom: 0rpx;
		left: 0;
		display: flex;
		align-items: center;

		&-left {
			width: 70%;
			display: flex;
			justify-content: space-between;
			padding: 0 30rpx;

			.end-flex {
				display: flex;
				align-items: center;


			}

		}

		&-right {
			width: 30%;
			line-height: 90rpx;
			background-color: #F44545;
			text-align: center;
			color: #fff;
		}
	}

	.end-del {
		color: #FA4305;
		margin-left: -130rpx;
		margin-top: 8rpx;
		font-size: 22rpx;
	}
</style>