<template>
	<view class="ress">
		<view v-if="!ressList.length" class="noress">
			暂无地址,请先添加地址
		</view>
		<view v-else class="ressbox">
			<p v-for="(item, index) in ressList" :key="index" class="cell">
				<text class="cell_left">
					{{item.receiver}} {{item.mobile}} <text class="mo" v-if="item.commonAddr==1">默认</text><br />
					<text class="h5">
						{{item.province}}{{item.city}}{{item.area}}{{item.addr}}
					</text>
				</text>
				<span @click="editBtn(item)" class="cell_rigth">
					<img class="right_eidt" src="../../static/revise.png" alt="呀,出差了">
				</span>
			</p>
		</view>
		<view class="ress_add">
			<button @click="add_ress">新增地址</button>
		</view>
	</view>
</template>

<script>
import {
	getRess_list,
	putAddr
} from "../../services/ress/index"
export default {
	data() {
		return {
			ressList: []
		}
	},
	onShow() {
		this.init()
	},

	methods: {
		// 初始化
		async init() {
			const flag = uni.getStorageSync('flag');
			// console.log(typeof flag, "___ 存储 addrId______")
			if (flag) {
				console.log(flag);
				const ress = await getRess_list()
				await putAddr(ress[1].addrId);
				const res = await getRess_list()
				this.ressList = res;
				uni.removeStorageSync('flag');
			} else {
				if (uni.getStorageSync('addrId')) {
					await putAddr(uni.getStorageSync('addrId'));
					const res = await getRess_list()
					this.ressList = res;
					uni.removeStorageSync('addrId');
				} else {
					const res = await getRess_list()
					console.log(res, "----------地址管理-------");
					this.ressList = res;
				}
			}
		},
		// 点击新增收货地址跳转
		add_ress() {
			uni.navigateTo({
				url: '/pages/address/index'
			});
		},
		// 编辑
		editBtn(item) {
			// console.log(item, "------item----");
			uni.navigateTo({
				url: `/pages/editress/index?id=${item.addrId}`
			});
			uni.setStorageSync("Item", JSON.stringify(item));

		}
	},
}
</script>
<style lang="scss" scoped>
.ress {
	width: 100%;
	height: 100%;

	.noress {
		width: 100%;
		height: 91%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.ressbox {
		width: 100%;
		height: 91%;
		overflow: scroll;
		background: rgb(238, 238, 238);

		.cell {
			width: 96%;
			height: 50px;
			overflow: hidden;
			border-radius: 10px;
			overflow: scroll;
			// background-color: #e11919;
			background-color: #ffffff;
			display: flex;
			margin-top: 10px;
			margin-left: 2%;

			.cell_left {
				width: 80%;
				height: 100%;
				// background-color: antiquewhite;
				padding-left: 20px;
				font-size: 14px;
				line-height: 25px;
				/*1. 先强制一行内显示文本*/
				white-space: nowrap;
				/*2. 超出的部分隐藏*/
				overflow: hidden;
				/*3. 文字用省略号替代超出的部分*/
				text-overflow: ellipsis;

				.h5 {
					display: block;
					width: 100%;
					/*1. 先强制一行内显示文本*/
					white-space: nowrap;
					/*2. 超出的部分隐藏*/
					overflow: hidden;
					/*3. 文字用省略号替代超出的部分*/
					text-overflow: ellipsis;
				}
			}

			.cell_rigth {
				width: 20%;
				height: 100%;
				text-align: center;
				line-height: 50px;

				.right_eidt {
					width: 20px !important;
					height: 20px !important;
				}
			}

			.mo {
				display: inline-block;
				width: 30px;
				height: 15px;
				line-height: 15px;
				text-align: center;
				background: rgb(255, 0, 0);
				color: #ffffff;
				border-radius: 10px;
				font-size: 10px;
				margin-left: 10px;
			}
		}
	}

	.ress_add {
		width: 100%;
		height: 9%;

		button {
			// height: 100%;
			width: 90%;
			background-color: rgb(255, 0, 0);
			color: #ffffff;
			border-radius: 100px;
			line-height: 105rpx;
			height: 80%;
			margin-top: 1.5%;
			font-size: 15px;
		}
	}
}
</style>
