<template>
  <view class="container">
    <view class="news-detail">
      <view class="news-detail-title">{{ infromList.title }}</view>
      <rich-text :nodes="infromList.content" ></rich-text>
    </view>
  </view>
</template>

<script>
import { informDel } from "@/services/foot";
export default {
  data() {
    return {
      infromList: [],
    };
  },
  onLoad(options) {
    this.formDel(options.id);
  },
  methods: {
    formatHTML(htmlStr){
      return htmlStr.replace(/width\=\"\d+"/g,'width=100%').replace(/height\=\"\d+"/g,"")
    },
    async formDel(id) {
      const res = await informDel(id);
      res.content = this.formatHTML(res.content)
      this.infromList = res;
    },
  },
};
</script>

<style scoped>
.news-detail {
  padding: 20rpx;
}

.news-detail .news-detail-title {
  font-size: 32rpx;
  font-weight: bold;
  line-height: 50rpx;
  padding: 20rpx;
}


</style>