<template>
    <view class="orderList">
        <view class="orderList_tab">
            <text v-for="(item,index) in arr" :key="index" @click='setIndex(index)' :class=" active === index ? `on` : `` ">
                {{item}}
            </text>
        </view>
        <view class="empty" v-if="list.length==0">
            还没有任何相关订单
        </view>
        <view v-else class="orderList_label">
            <view class="orderList_label_item" v-for="(item,index) in list" :key="index">
                <!--订单头部判断显示 -->
                <view class="order_top">
                    <text>订单编号：{{item.orderNumber}}</text>
                    <view class='order_state'>
                        <text class="">{{item.status>0?arr[item.status]:''}}</text>
                        <view class='clear_btn' v-if="item.status==5 || item.status==6">
                            <image src='../../images/icon/clear-his.png' class='clear_list_btn' @click='delOrderList' ></image>
                        </view> 
                    </view>
                </view>

                <!-- 商品信息 -->
                <view class="order_conter">
                    <view class="order_conter_news">
                        <!-- 单个商品 -->
                        <view v-if="item.orderItemDtos.length === 1" class="item-cont"  @click="goto_order_detail(item.orderNumber)">
                            <view class="prod-pic">
                                <img :src="item.orderItemDtos[0].pic" alt="" />
                            </view>
                            <view class="prod-info">
                                <view class="prodname">{{ item.orderItemDtos[0].prodName }}</view>
                                <view class="prod-info-cont">
                                    {{item.orderItemDtos[0].skuName}}
                                </view>
                                <view class="prod-nums">
                                    <text class="prodprice">
                                        <text class="symbol">¥</text>
                                        <text class="big-num">
                                            {{item.orderItemDtos[0].price.toString().split(".")[0]}}
                                        </text>
                                        <text class="small-num">
                                            .{{item.orderItemDtos[0].price.toString().split(".")[1]}}
                                        </text>
                                    </text>
                                    <text class="prodcount">
                                        X{{ item.orderItemDtos[0].prodCount }}
                                    </text>
                                </view>
                            </view>
                        </view>
                        <!-- 多个商品 -->
                        <view v-else-if="item.orderItemDtos.length > 1" class="item-cont"  @click="goto_order_detail(item.orderNumber)">
                            <scroll-view scroll-left="0" class="categories">
                                <view
                                    v-for="(itemCon, index) in item.orderItemDtos"
                                    :key="index"
                                    class="prod-pic"
                                >
                                    <img :src="itemCon.pic" alt="" />
                                </view>
                            </scroll-view>
                        </view>
                    </view>
                    <view class="order_conter_end">
                        <view class="total-num">
                            <text class="shop_num">共计 {{item.orderItemDtos.length}} 件商品</text>
                            <view class="prodprice">
                                合计:
                                <text class="symbol">¥</text>
                                <text class="big-num">
                                    {{ item.actualTotal.toString().split(".")[0] }}
                                </text>
                                <text class="small-num">
                                    {{
                                        item.actualTotal.toString().split(".")[1]
                                        ? "." + item.actualTotal.toString().split(".")[1]
                                        : ".00"
                                    }}
                                </text>
                            </view>
                        </view>
                    </view>
                </view>

                <!-- 相关操作 -->
                <view class="order_footer">
                    <view class="btn">
                        <text
                            v-if="item.status == 1"
                            class="button"
                            @click="onCancelOrder(item.orderNumber)"
                        >
                            取消订单
                        </text>
                        <text class="button warn" @click="let_shop">再次购买</text>
                        <text
                            v-if="item.status == 1"
                            class="button warn"
                            @click="onPayAgain"
                        >
                            付款
                        </text>
                        <text
                            v-if="item.status == 3 || item.status == 5"
                            class="button"
                            @click="toDeliveryPage"
                        >
                            查看物流
                        </text>
                        <text
                            v-if="item.status == 3"
                            class="button warn"
                            @click="onConfirmReceive"
                        >
                            确认收货
                        </text>
                    </view>
                </view>
            </view>
        </view>
        <div class="mask" v-if="show">
            <div class="maskBox">
                <view class="BoxOne">
                    <p>要取消订单吗?</p>
                </view>
                <view class="BoxTwo">
                    <p class="BoxTwoP" @click="noShow">否</p>
                    <p @click="sureShow">是</p>
                </view>
            </div>
        </div>
    </view>
</template>

<script>
import { _all_order, requestnoOrder } from "../../services/index"
export default {
    data(){
        return {
            active:0,
            list:[],
            arr:["全部","待支付","待发货","待收货","已完成"],
            current:1,//当前页数
            size:10,//默认当前页数据大小
            pages:0,//每页默认十个数据接口返回pages的页数
            show:false,
            orderID:"",
        }
    },
    methods: {
        async setIndex(index) {
            this.active = index;
            let that = this
            const res = await _all_order({
                current:that.current,
                size:that.size,
                status:index
            })
            console.log(res);
            this.list = res.records
            this.pages = res.pages
            this.current = res.current
        },
        //取消订单
        noShow(){
          this.show=false
        },
        async sureShow(){
            this.show=false
            if(this.current==1){
                const data = await requestnoOrder(this.orderID)
                console.log(data,'小胜子')
                const {records}= await _all_order({
                    current: 1,
                    size: 10,
                    status: this.current,
                });
                this.list = records;
                console.log(records,'qwe')
         
            }

            if (this.current == 0) {
                const data = await requestnoOrder(this.orderID);
                const { records } = await requestAll({
                    current: 1,
                    size: 10,
                    status: this.current,
                });
                this.list = records;
            }
        },
        onCancelOrder(orderNumber){
            console.log("...取消订单");
            this.show=true
            this.orderID = orderNumber;
        },
        let_shop(){
            console.log("...再次购买");
        },
        onPayAgain(){
            console.log("..购买");
        },
        toDeliveryPage(){
            console.log("...物流");
        },
        onConfirmReceive(){
            console.log("...确认收货");
        },
        goto_order_detail(orderNumber){
            // console.log(orderNumber,"订单详情");
            this.$goPage({
                url: "/pages/orderDetails/index",
                query: { orderNumber },
            });
        }
    },
    async onLoad(options){
        // console.log(+options.index);
        this.active = +options.index
        await this.setIndex(+options.index)
    }
}
</script>

<style lang="scss">
    .orderList{
        width: 100%;
        height: 100%;
        background-color: #f8f8f8;
        .orderList_tab{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-around;
            background-color: #ffffff;
            align-items: center;
            text{
                width: 50px;
                height: 100%;
                text-align: center;
                line-height: 50px;
            }
            .on{
                border-bottom: 2px solid #eb2444;
                color: #eb2444;
            }
        }
        .empty{
            font-size: 24rpx;
            margin-top: 100rpx;
            text-align: center;
            color: #999;
            height: 300rpx;
            line-height: 300rpx;
        }
        .orderList_label{
            width: 100%;
            height: auto;
            .orderList_label_item{
                width: 100%;
                height: 210px;
                background-color: #ffffff;
                margin-top: 2px;
                margin-bottom: 10px;
                .order_top{
                    width: 100%;
                    height: 30px;
                    display: flex;
                    justify-content: space-between;
                    text{
                        line-height: 30px;
                        padding-left: 10px;
                    }
                    .order_state{
                        line-height: 30px;
                        padding-right: 10px;
                        color: #ff0000;
                    }
                }
                .order_conter{
                    width: 100%;
                    height: 140px;
                    .order_conter_news{
                        width: 100%;
                        height: 100px;
                        background-color: #f8f8f8;
                        .item-cont {
                            display: flex;
                            align-items: center;
                            padding: 20rpx 30rpx;
                            border-radius: 10rpx;
                            background: #fafafa;
                            .prod-pic {
                                font-size: 0;
                                display: inline-block;
                                width: 160rpx;
                                height: 160rpx;
                                overflow: hidden;
                                background: #fff;
                                margin-right: 16rpx;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .prod-info {
                                margin-left: 10rpx;
                                font-size: 28rpx;
                                width: 100%;
                                position: relative;
                                height: 160rpx;
                                flex: 1;
                                .prodname {
                                    font-size: 28rpx;
                                    line-height: 36rpx;
                                    max-height: 86rpx;
                                    overflow: hidden;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    text-overflow: ellipsis;
                                    word-break: break-all;
                                }
                                .prod-info-cont {
                                    color: #999;
                                    line-height: 40rpx;
                                    margin-top: 10rpx;
                                    font-size: 22rpx;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .prod-nums{
                                    display: flex;
                                    justify-content: space-between;
                                    .prodprice{
                                        color: #333;
                                        margin-left: 10rpx;
                                        .symbol{
                                            font-size: 24rpx;
                                        }
                                        .big-num{
                                            font-size: 32rpx;
                                        }
                                        .small-num{
                                            font-size: 24rpx;
                                        }
                                    }
                                    .prodcount{
                                        color: #999;
                                    }
                                }
                            }
                        }
                    }
                    .order_conter_end{
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        .total-num{
                            padding: 20rpx 30rpx;
                            font-size: 28rpx;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            .shop_num{
                                margin-right: 10px;
                                color: #a7a7a7;
                            }
                        }
                    }
                }
                .order_footer{
                    width: 100%;
                    height: 39px;
                    border-top: solid 1px #f5f5f5;
                    .btn{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        .button {
                            margin-left: 5px;
                            margin-right: 10px;
                            font-size: 26rpx;
                            background: #fff;
                            padding: 10rpx 30rpx;
                            border-radius: 80rpx;
                            border: 2rpx solid #e1e1e1;
                        }
                        .warn {
                            color: #eb2444;
                            border-color: #eb2444;
                        }
                    }
                }
            }
        }
    }
    .mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999;
}
.mask .maskBox {
  width: 600rpx;
  height: 300rpx;
  background: white;
  position: absolute;
  top: 50%;
  margin-top: -150rpx;
  left: 50%;
  margin-left: -300rpx;
  display: flex;
  flex-direction: column;
  border-radius: 30rpx;
}

.maskBox .BoxOne {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 7;
  font-size: 35rpx;
  font-weight: 100;
}

.maskBox .BoxTwo {
  width: 100%;
  display: flex;
  flex: 3;
  border-top: 1px solid #ccc;
  align-items: center;
}

.BoxTwo p {
  flex: 1;
  text-align: center;
  font-weight: 900;
  font-size: 35rpx;
  color: #3e62ad;
}

</style>