<template>
  <view class="container">
    <view class="fixed-box">
      <view class="search-bar">
        <view class="search-box">
          <input :value="value" class="sear-input" />
          <image src="@/static/icon/search.png" class="search-img"></image>
        </view>
        <view class="search-list-img" @click="falstab">
          <image src="@/static/icon/search-col2.png" v-show="fals"></image>
          <image src="@/static/icon/search-col.png" v-show="!fals"></image>
        </view>
      </view>
      <view class="tabs">
        <text
          v-for="(item, i) in list"
          :key="i"
          class="tab-item"
          :class="i == indexaction ? 'action' : ''"
          @click="tabIndex(i)"
        >
          {{ item }}
        </text>
      </view>
    </view>
    <view class="prod-list">
      <view class="cont-item" v-show="fals">
        <view
          class="show-item"
          v-for="item in lists"
          :key="item.prodId"
          @click="goDetail(item.prodId)"
        >
          <view class="more-prod-pic">
            <image :src="item.pic" class="more-pic"></image>
          </view>
          <view class="prod-text-right">
            <view class="prod-text more">{{ item.prodName }}</view>
            <view class="cate-prod-info"
              >{{ item.positiveRating }}评价 {{ item.praiseNumber }}%好评</view
            >
            <view class="prod-price more">
              <text class="symbol">￥</text>
              <text class="big-num">{{ item.price }}</text>
              <text class="small-num">.00</text>
            </view>
          </view>
        </view>
      </view>
      <view class="hotsale-item-cont jianjian" v-show="!fals">
        <view
          v-for="item in lists"
          :key="item.prodId"
          class="prod-items"
          @click="goDetail(item.prodId)"
        >
          <view class="hot-imagecont">
            <image :src="item.pic" class="hotsaleimg"></image>
          </view>
          <view class="hot-text">
            <view class="hotprod-text">{{ item.prodName }}评价</view>
            <view class="prod-info"
              >{{ item.positiveRating }}评价 {{ item.praiseNumber }}%好评</view
            >
            <view class="prod-text-info">
              <view class="price">
                <text class="symbol">￥</text>
                <text class="big-num">{{
                  item.price.toFixed(2).split(".")[0]
                }}</text>
                <text class="small-num"
                  >.{{ item.price.toFixed(2).split(".")[1] }}</text
                >
              </view>
            </view>
          </view>
        </view>
      </view>
    </view>
  </view>
</template>
<script>
import { searchadd } from "@/services/foot";
export default {
  data() {
    return {
      list: ["综合", "销量", "价格"],
      value: "",
      indexaction: 0,
      searchadata: {
        current: 1,
        prodName: "",
        size: 10,
        sort: 0,
      },
      
      lists: [],
      fals: true,
    };
  },
  onLoad(options) {
    this.value = options.value;
    //方法
    this.init();
  },
  methods: {
    async init() {
      await this.searchatab();
    },
    async searchatab() {
        //判断下标=输入内容
      this.searchadata.prodName = this.value;
      //判断sort=indexaction=0
      this.searchadata.sort = this.indexaction;
      const data = await searchadd(this.searchadata);
      this.lists = data.records;
      console.log(this.lists ,'lzx')
    },
    async falstab() {
      this.fals = !this.fals;
    },
    async tabIndex(i) {
      this.indexaction = i;
      await this.searchatab();
    },
    //商品 跳详情
    async goDetail(id) {
      await this.$goPage({
        url: "/detailPkg/details/index",
        query: {
          prodId:id
        },
      });
    },
  },
};
</script>
<style>
.jianjian {
  width: 100%;
  margin-top: 160rpx;
}
.container {
  width: 100%;
  height: 100%;
}
.fixed-box {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background: #fff;
  border-bottom: 20rpx solid rgb(244, 244, 244);
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #777;
  background: #fff;
  z-index: 3;
  padding: 0 30rpx;
  box-sizing: border-box;
}
.search-bar .search-box {
  position: relative;
  height: 60rpx;
  background: #f7f7f7;
  z-index: 999;
  width: 80%;
  border-radius: 50rpx;
  margin-right: 30rpx;
  flex: 1;
}
.sear-input {
  height: 60rpx;
  border-radius: 50rpx;
  border: 0;
  margin: 0 30rpx 0 64rpx;
  line-height: 48rpx;
  vertical-align: top;
  background: #f7f7f7;
  font-size: 28rpx;
}
.search-bar .search-box .search-img {
  width: 32rpx;
  height: 32rpx;
  position: absolute;
  left: 20rpx;
  top: 14rpx;
  display: block;
}
.search-bar .search-list-img {
  width: 40rpx;
  height: 40rpx;
  font-size: 0;
}
.search-bar .search-list-img image {
  width: 100%;
  height: 100%;
}
.fixed-box .tabs {
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  padding: 10rpx 0;
  z-index: 999;
  background: #fff;
}
.fixed-box .tabs {
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  padding: 10rpx 0;
  z-index: 999;
  background: #fff;
}
.hotsale-item-cont {
  padding-bottom: 20rpx;
  background: #fafafa;
}

.prod-items {
  width: 345rpx;
  display: inline-block;
  background: #fff;
  padding-bottom: 20rpx;
  box-sizing: border-box;
  margin: 20rpx 10rpx 10rpx 20rpx;
  box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);
}

.prod-items .hot-imagecont {
  font-size: 0;
  text-align: center;
}

.prod-items .hot-imagecont .hotsaleimg {
  width: 341rpx;
  height: 341rpx;
  background-color: #333;
}

.prod-items .hot-text {
  margin-top: 20rpx;
  padding: 0 10rpx;
}

.prod-items .hot-text .hotprod-text {
  font-size: 28rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-items .hot-text .prod-info,
.more-prod .prod-text-right .prod-info {
  font-size: 22rpx;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-items .hot-text .prod-text-info {
  position: relative;
  height: 70rpx;
  line-height: 70rpx;
  font-family: Arial;
}

.price {
  font-family: Arial;
  display: inline-block;
  color: #eb2444;
  padding-bottom: 10rpx;
  padding-left: 10rpx;
}

.fixed-box .tabs .tab-item {
  display: inline-block;
  width: 33.33%;
  text-align: center;
  font-size: 28rpx;
}
.prod-list .cont-item {
  padding: 0 20rpx 20rpx 20rpx;
  margin-top: 180rpx;
}
.prod-list .cont-item .show-item {
  position: relative;
  display: flex;
  justify-content: start;
  padding: 20rpx;
  border-radius: 20rpx;
  background: #fff;
  margin-bottom: 20rpx;
  box-shadow: 0 16rpx 32rpx 0 rgba(7, 17, 27, 0.05);
}
.prod-list .cont-item .show-item .more-prod-pic {
  text-align: center;
  width: 170rpx;
  height: 170rpx;
  font-size: 0;
}
.prod-list .cont-item .show-item .prod-text-right {
  margin-left: 20rpx;
  width: 75%;
}
.prod-list .cont-item .show-item .prod-text-right {
  margin-left: 20rpx;
  width: 75%;
}
.prod-list .cont-item .show-item .more-prod-pic .more-pic {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.prod-list .cont-item .show-item .prod-text-right .prod-text.more {
  margin: 0;
  height: 78rpx;
  font-size: 28rpx;
  display: -webkit-box;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #000;
}
.prod-list .cont-item .show-item .prod-text-right .cate-prod-info {
  font-size: 22rpx;
  color: #999;
  margin: 10rpx 0 20rpx 0;
}
.prod-list .cont-item .show-item .prod-text-right .prod-price.more {
  font-size: 28rpx;
  color: #eb2444;
  font-family: arial;
}
.symbol {
  font-size: 24rpx;
}
.big-num {
  font-size: 32rpx;
}
.small-num {
  font-size: 24rpx;
}
.action {
  color: red;
}
</style>