<template>
  <view class="hotsale-item-cont">
    <view
      v-for="(item, index) in classifyList"
      :key="index"
      class="prod-items"
      @click="goDetail(item.prodId)"
    >
      <view class="hot-imagecont">
        <image
          :src="item.pic"
          class="hotsaleimg"
          v-if="
            item.pic !==
            'https://img.mall4j.com/2019/05/150d6c4a46914dbfa82690098b2ec4e7.jpg'
          "
        />
        <view v-else class="hotsaleimg"></view>
      </view>
      <view class="hot-text">
        <view class="hotprod-text">{{ item.prodName }}</view>
        <view class="prod-info">{{ item.brief }}</view>
        <view class="prod-text-info">
          <view class="price">
            <text class="symbol">￥{{item.price}}</text>
       
          </view>
          <image
      
            class="basket-img"
          ></image>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { 
	_getClassifyList,
	} from "../../services/index"
export default {
  data() {
    return {
      classifyList: []
    };
  },
  onLoad() {
    // this.Classify();
  },
  methods: {
     //商品 跳详情
	   async goDetail(id) {
	       await this.$goPage({
	         url: "/detailPkg/details/index",
	         query: {
	           prodId:id
	         },
	       });
	     },
  },
	  mounted (){
				   uni.request({
					 url:"https://bjwz.bwie.com/mall4j/prod/moreBuyProdList",
					success:(res)=>{
					 this.classifyList=res.data.records
					 console.log(this.classifyList)
					},
					fail:(err)=>{
				   console.log(err)
				}
				   })
				  
	  }
}
</script>

<style scoped>
.hotsale-item-cont {
  padding-bottom: 20rpx;
  background: #fafafa;
}

.prod-items {
  width: 345rpx;
  display: inline-block;
  background: #fff;
  padding-bottom: 20rpx;
  box-sizing: border-box;
  margin: 20rpx 10rpx 10rpx 20rpx;
  box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);
}

.prod-items .hot-imagecont {
  font-size: 0;
  text-align: center;
}

.prod-items .hot-imagecont .hotsaleimg {
  width: 341rpx;
  height: 341rpx;
}

.prod-items .hot-text {
  margin-top: 20rpx;
  padding: 0 10rpx;
}

.prod-items .hot-text .hotprod-text {
  font-size: 28rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-items .hot-text .prod-info,
.more-prod .prod-text-right .prod-info {
  font-size: 22rpx;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-items .hot-text .prod-text-info {
  position: relative;
  height: 70rpx;
  line-height: 70rpx;
  font-family: Arial;
}

.price {
  font-family: Arial;
  display: inline-block;
  color: #eb2444;
  padding-bottom: 10rpx;
  padding-left: 10rpx;
}

.symbol {
  font-size: 24rpx;
}

.big-num {
  font-size: 32rpx;
}

.small-num {
  font-size: 24rpx;
}
.prod-items .hot-text .prod-text-info .basket-img {
  width: 50rpx;
  height: 50rpx;
  position: absolute;
  right: 0;
  bottom: 7rpx;
  padding: 8rpx;
}
</style>