<script>
	export default {
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style>
@import "/wxcomponents/vant/dist/common/index.wxss";
	/*每个页面公共css */
	@import url("@/wxcomponents/vant/dist/common/index.wxss");
	/*网页的全局样式 解决兼容问题*/
	body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,td,form,input,select,textarea,span,img,a,em,strong,*{ margin:0; padding:0;}
	body{ font-family:"宋体"; font-size:12px; color:#000000;}
	ul,ol,li{ list-style:none;}
	h1,h2,h3,h4,h5,h6{ font-size:14px;}
	input,select,textarea{ vertical-align:middle;}
	img{ border:none; vertical-align:middle;}
	a{ text-decoration:none;color:#333;}
	a:hover{ color:#009999;}
	.clear{ clear:both; height:0px; width:0px; overflow:hidden;}
	#app,html,body{
		width: 100%;
		height: 100%;
	}
	img{
		object-fit: cover;
	}
</style>
