<template>
    <view class="pay">
        <view class="price">
            <p class="price_p1">支付金额</p>
            <p class="price_p2">￥{{totalprice}}</p>
        </view>
        <view class="zhifu">
            <checkbox-group @change="change(vx)">
                <p class="p1">
                    <image src="../../static/wx.png" />
                    <text>
                        微信支付
                    </text>
                    <checkbox class="checkbox" :checked="vx"></checkbox>
                </p>
            </checkbox-group>
            <checkbox-group @change="change(bao)">
                <p class="p2">
                    <image src="../../static/zfb.png" />
                    <text>
                        支付宝支付
                    </text>

                    <checkbox class="checkbox" :checked="bao"></checkbox>
                </p>
            </checkbox-group>
        </view>
        <button class="Btn" @click="Btn">确定支付</button>
    </view>
</template>

<script>
import { order_pay } from "../../services/shop/index"
export default {
    data() {
        return {
            vx: true,
            bao: false,
            totalprice: 0,
            orderNumber: ''
        }
    },
    onLoad(option) {
        // 穿过来的参
        this.totalprice = option.totalprice;
        this.orderNumber = option.orderNumbers;
    },
    methods: {
        change(item) {
            this.vx = !this.vx;
            this.bao = !this.bao;

        },
        async Btn() {
            console.log(this.orderNumber, this.totalprice);
            if (this.vx) {
                const res = await order_pay({
                    "orderNumbers": this.orderNumber,
                    "payType": 1
                })
                console.log(res, "微信支付");
                //请求支付
                uni.requestPayment({
                    appId: res.appId,
                    timeStamp: res.timeStamp,
                    nonceStr: res.nonceStr,
                    package: res.packageValue,
                    signType: res.signType,
                    paySign: res.paySign,
                    success: (result) => {
                        uni.showToast({
                            icon: " success",
                            title:
                                "支付成功",
                        });
                    },
                    fail: (error) => {
                        uni.showToast({
                            icon: "error",
                            title: "支付失败"
                        });
                    },
                })

            } else {
                const res = await order_pay({
                    "orderNumbers": this.orderNumber,
                    "payType": 2
                })
                console.log(res, "支付包支付");
                //请求支付
                uni.requestPayment({
                    appId: res.appId,
                    timeStamp: res.timeStamp,
                    nonceStr: res.nonceStr,
                    package: res.packageValue,
                    signType: res.signType,
                    paySign: res.paySign,
                    success: (result) => {
                        uni.showToast({
                            icon: " success",
                            title:
                                "支付成功",
                        });
                    },
                    fail: (error) => {
                        uni.showToast({
                            icon: "error",
                            title: "支付失败"
                        });
                    },
                })
            }


        }
    },
}
</script>

<style lang="scss" scoped>
.pay {
    width: 100%;
    height: 100%;

    .price {
        width: 100%;
        height: 300rpx;
        // background-color: antiquewhite;
        text-align: center;

        .price_p1 {
            padding-top: 90rpx;
            font-size: 35rpx;
            color: #ccc;
        }

        .price_p2 {
            padding-top: 24rpx;
            font-size: 30rpx;
        }
    }

    .zhifu {
        width: 100%;
        // height: 500rpx;
        // background-color: aqua;

        p {
            width: 100%;
            height: 100rpx;
            // border-bottom: 1rpx #ccc solid;
            line-height: 100rpx;
        }

        .p1 {
            display: flex;
            border-bottom: 1rpx #ccc solid;

            image {
                width: 100rpx;
                height: 100rpx;
            }
        }
        .p2 {
            display: flex;

            image {
                width: 100rpx;
                height: 92rpx;
                margin-top: 6rpx;
            }
        }

        text {
            width: 200rpx;
        }


        image {
            margin: 0 34rpx;
        }

        .checkbox {
            margin-left: 300rpx;
            // margin-top: 20rpx;
        }
    }

    .Btn {
        width: 80%;
        height: 80rpx;
        line-height: 80rpx;
        background-color: #f00;
        color: rgb(255, 255, 255);
        margin-top: 100rpx;
    }
}
</style>
