<template>
    <view class="content">
        <view class="update-message">
            <view class="update-text">所在地区</view>
            <view class="update-input">
                <input @tap="openAddres" v-model="address" />
            </view>
            <!-- <image src="../../static/yjt.png" class="jt"></image> -->
        </view>
        <!-- <textarea class="detail" placeholder-style="color:#ccc;" placeholder="详细地址:如道路,门牌号"/> -->
        <!-- 这个步骤只是为了让大家看到返回的数据 -->
        <!-- <text>{{pickerText}}</text> -->
        <simple-address ref="simpleAddress" :pickerValueDefault="cityPickerValueDefault" @onConfirm="onConfirm"
            themeColor='#007AFF'></simple-address>
    </view>
</template>

<script>
import simpleAddress from "@/components/simple-address/simple-address.nvue"
export default {
    data() {
        return {
            cityPickerValueDefault: [0, 0, 1],//弹框的初始值
            pickerText: '',
            address: '北京市-市辖区-西城区'//初始值
        }
    },

    components: {
        simpleAddress
    },
    created() {
        uni.setStorageSync("pickerText", JSON.stringify({ areaCode: new Date() * 1, cityCode: new Date() * 2, label: "北京市-市辖区-西城区", provinceCode: new Date() * 3 }));
        if (uni.getStorageSync('Item')) {
            const { province, city, area } = JSON.parse(uni.getStorageSync('Item'));
            const str = province + '-' + city + '-' + area;
            // console.log(str,"-----------str----------");
            this.address = str;
            uni.setStorageSync("str", str);
        }

        if (uni.getStorageSync('location')) {
            const location = JSON.parse(uni.getStorageSync('location'));
            this.address = location.province + "-" + location.city + "-" + location.district;
        }
    },


    methods: {
        openAddres() {
            this.$refs.simpleAddress.open();
        },
        onConfirm(e) {
            uni.setStorageSync("pickerText", JSON.stringify(e));
            this.pickerText = JSON.stringify(e);//这个步骤只是为了让大家看到返回的数据
            this.address = e.label;//把选择的地址回显到input框中
            // console.log(e.label)
            // console.log(JSON.stringify(e))
        },
        bindTextAreaBlur: function (e) {
            console.log(e.detail.value)
        }

    }
}
</script>

<style scoped>
page {
    background-color: #f1f1f1;
}

.content {
    width: 93%;
    margin-left: 3%;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
}

/* 提示 */
.mind {
    color: #ccc;
    font-size: 24upx;
    margin: 3%;
}

text {
    margin: 1%;
}

/* 所在地区 */
.update-message {
    background-color: #fff;
    /* height: 95upx; */
    line-height: 50px;
    font-size: 32upx;
    display: flex;
    /* border-bottom: 2upx solid #e4e4e4; */
}

/* 文字 */
.update-text {
    flex: 2;
    text-align: center;
    width: 50px;
    font-size: 11px;
    padding-left: 6px;
}

/* 右侧input框 */
.update-input {
    flex: 7;
    display: flex;
    padding: 3.5%;
    margin-top: 2px;
}

/* 箭头 */
.jt {
    height: 30upx;
    width: 30upx;
    margin: auto;
    margin-right: 20upx;
}

/* 详情 */
.detail {
    background-color: #fff;
    width: 100%;
    height: 200upx;
    padding: 2%;
}
</style>

