<template>
    <view class="my_login">
        <view v-if="show" class="userInfo">
            <button class="my_login_button" @click="getUserInfo">登录/授权</button>
        </view>
        <view v-else class="userInfo">
            <img :src="avatar" alt="">
            <view class="text">
                <text>{{petname}}</text>
            </view>
        </view>
        <view class="my_hint">
            <view class="text">
                绑定手机号后可查看订单和领取优惠卷，
            </view>
            <button class="my_bound" @click="toBindingPhone" >去绑定</button>
        </view>
        <view class="my_test">
            <view class="my_test_top">
                <h2>我的订单</h2>
                <span @click="my_bank_order(0)">查看更多></span>
            </view>
            <view class="my_test_conter">
                <dl>
                    <dt @click="my_bank_order(1)">
                        <img src="../../static/icon/toPay.png" alt="">
                    </dt>
                    <dd>待支付</dd>
                    <dd class="my_test_conter_num" v-if="orderAmount.unPay>0">{{orderAmount.unPay}}</dd>
                </dl>
                <dl>
                    <dt @click="my_bank_order(2)">
                        <img src="../../static/icon/toDelivery.png" alt="出错啦">
                    </dt>
                    <dd>待发货</dd>
                    <dd class="my_test_conter_num" v-if="orderAmount.payed>0">{{orderAmount.payed}}</dd>
                </dl>
                <dl>
                    <dt @click="my_bank_order(3)">
                        <img src="../../static/icon/toTake.png" alt="出错啦">
                    </dt>
                    <dd>待收货</dd>
                    <dd class="my_test_conter_num" v-if="orderAmount.consignment>0">{{orderAmount.consignment}}</dd>
                </dl>
                <dl>
                    <dt @click="my_bank_order(4)">
                        <img src="../../static/icon/toComment.png" alt="出错啦">
                    </dt>
                    <dd>已完成</dd>
                </dl>
            </view>
        </view>
        <view class="my_status">
                <dl>
                    <dt @click="goLike">
                        {{ collectionCount }}
                    </dt>
                    <dd>我的收藏</dd>
                </dl>
                <dl>
                    <dt>
                        5
                    </dt>
                    <dd>我的消息</dd>
                </dl>
                <dl>
                    <dt>
                        3
                    </dt>
                    <dd>我的足迹</dd>
                </dl>
                <dl>
                    <dt>
                        0
                    </dt>
                    <dd>我的积分</dd>
                </dl>
            </view>
        <view class="my_diress" @click="addrBtn">
            <img src="../../static/icon/myAddr.png" alt="">
            <span class="my_diress_addr">收货地址</span>
            <span class="my_diress_right">></span>
        </view>
    </view>
</template>

<script>

import {
    save_user_info,
    _login,
    _load_num,
    _show_num,
} from "../../services/index";

export default {
    data(){
        return {
            show:true,
            petname:'',
            avatar:'',
            orderAmount:{},
            collectionCount:0
        }
    },
    async onLoad(){
        await this.login()
        
    },
    async onShow(){
        await this.order()
        await this.showLoading()
    },
    methods: {
        toBindingPhone() {
            this.$goPage({
                url: "/pages/bindnumber/index",
            });
        },
        goLike() {
            // 跳收藏
            this.$goPage({
                url: "/pages/like/index",
            });
        },
        async login () {
            const token = uni.getStorageSync("token")
            if(!token){
                // 提示用户授权
                this.show = true
            }else{
                // 有token的话不需要授权
                this.show = false
            }
            const [,{code}] = await uni.login()
            const result = await _login({
                principal : code
            })
            uni.setStorageSync('token',result.access_token);
            // 根据code 发起请求
            this.petname = result.nickName
            this.avatar = result.pic
        },
        getUserInfo() {
            // 获取用户信息   通过按钮来触发
            uni.getUserProfile({
                desc:'获取用户信息授权',
                success (res) {
                    // 设置用户信息
                    const { avatarUrl, nickName } = res.userInfo;
                    save_user_info({
                        avatarUrl,
                        nickName
                    })
                },
                fail (err) {
                    console.log(err);
                }
            })
        },
        async order () {
            const res = await _load_num()
            // console.log(res,"num");
            this.orderAmount = res
        },
        async showLoading () {
            const res = await _show_num();
            console.log(res,'asdasdd');
            this.collectionCount = res.data===0 ? res.data : res
            
        },
        addrBtn () {//跳转地址页面
            uni.navigateTo({
                url: '/pages/ress/index'
            })
        },
        my_bank_order(num){
            this.$goPage({
                url:'/pages/orderList/index',
                query:{
                    index:num
                }
            })
        }
    },
    
}
</script>

<style lang="scss">
    .my_login{
        width: 100%;
        height: 100%;
        background-color: #f8f8f8;
        overflow: auto;
        .userInfo{
            width: 100%;
            height: 180px;
            text-align: center;
            background-color: #ffffff;
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: solid 1px #eee;
                margin-top: 30px;
                box-shadow: 3px 3px 5px #b8b8b8;
            }
            .text{
                height: 100%;
                width: 100%;
                line-height: 50px;
            }
            .my_login_button{
                width: 140px;
                height: 40px;
                background-color: #65d683;
                color: #ffffff;
                margin-top: 60px;
                display: inline-block;
            }
        }
        .my_hint{
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-indent: 1em;
            background-color: #ffffff;
            margin-top: 2px;
            display: flex;
            align-content: flex-start;
            .text{
                height: 100%;
                line-height: 40px;
            }
            .my_bound{
                width: 80px;
                height: 100%;
                border: none;
                color: #ff0000;
                text-indent: 0em;
                padding: 0;
                font-size: 16px;
                background-color: #ffffff;
                margin: 0;
                box-sizing: 0 0 0 none;
            }
        }
        .my_test{
            width: 100%;
            height: 132px;
            background-color: #ffffff;
            margin-top: 10px;
            .my_test_top{
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: space-between;
                align-content: center;
                border-bottom: solid 1px #f1f1f1;
                h2{
                    height: 100%;
                    line-height: 50px;
                    padding: 0 10px;
                    font-weight: bold;
                }
                span{
                    height: 100%;
                    line-height: 50px;
                    padding: 0 10px;
                    color: #9a9a9a;
                }
            }
            .my_test_conter{
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: space-around;
                dl{
                    width: 40px;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-around;
                    position: relative;
                    dt{
                        width: 100%;
                        height:50%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    dd{
                        width: 100%;
                        text-align: center;
                    }
                    .my_test_conter_num{
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        line-height: 20px;
                        background-color: #ff0000;
                        color: #ffffff;
                        position: absolute;
                        left: 20px;
                    }
                }
            }
        }
        .my_status{
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-around;
            background-color: #ffffff;
            margin-top: 10px;
            dl{
                width: 50px;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                dt{
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    color: #315996;
                }
            }
        }
        .my_diress{
            width: 100%;
            height: 50px;
            background-color: #ffffff;
            margin-top: 10px;
            // display: flex;
            // align-items: center;
            // justify-content: space-around;
            line-height: 50px;
            img{
                height: 40%;
                width: 20px;
                margin-left: 10px;
            }
            .my_diress_addr{
                margin-left: 10px;
                font-size: 16px;
            }
            .my_diress_right{
                float: right;
                margin-right: 20px;
                color: #bbbbbb;
                font-size: 18px;
            }
        }
    }
</style>
