<template>
    <view class="editress">
        <view class="kong">
        </view>
        <p><text>姓名</text><input type="text" v-model="addrInfo.receiver" placeholder="收货人姓名"></p>
        <p><text>电话</text><input type="text" v-model="addrInfo.mobile" placeholder="收货人手机号"></p>
        <!-- 地区 -->
        <view class="kong1"></view>
        <Area></Area>
        <p><text>详细地址</text><input type="text" v-model="addrInfo.addr" placeholder="街道门牌、楼层房间号等信息"></p>
        <p><text>邮政编码</text><input type="text" v-model="addrInfo.postCode" placeholder="邮政编码"></p>
        <p>设为默认收货地址 <switch class="switch" :checked="addrInfo.commonAddr" @change="switch1Change"></switch>
        </p>
        <view class="btnBox">
            <button @click="Btn">保存</button>
            <button @click="delBtn" class="delBtn">删除</button>
        </view>
    </view>
</template>
  
<script>
// 引用地址
import area1 from "@/components/area/index";
import { getAddrInfo, EditAddrInfo, DelAddrInfo } from "../../services/ress/index"
export default {
    components: {
        'Area': area1
    },
    data() {
        return {
            ID: "",
            addrInfo: {
                addr: "",//地址
                addrId: "",//id
                area: "",//区
                areaId: "",//id
                city: "",//市
                cityId: "",//id
                mobile: "",//手机
                province: "",//省
                provinceId: "",//id
                receiver: "",//收货人
                commonAddr: false,//默认地址
                postCode: '',//邮箱
            }
        };
    },
    onLoad(option) {
        // console.log(option.id);
        this.ID = option.id;

    },
    onShow() {
        this.init();
    },
    onUnload() {
        uni.removeStorageSync('str');
        uni.removeStorageSync('pickerText');
        uni.removeStorageSync('Item');
    },
    methods: {
        // 初始化
        async init() {
            const res = await getAddrInfo(this.ID);
            // console.log(res, "------获取地址信息------");
            this.addrInfo = res;
            if (this.addrInfo.commonAddr == 1) {
                this.addrInfo.commonAddr = true;
            } else {
                this.addrInfo.commonAddr = false;
            }
            

        },
        switch1Change(e) {
            this.addrInfo.commonAddr = e.detail.value;
            // console.log(e.detail.value, this.addrInfo.commonAddr, 'e.detail.value');
        },
        // 保存按钮
        async Btn() {

            try {
                const str = uni.getStorageSync("str");
                // console.log(areaCode, cityCode, label, provinceCode, "-------pickerText-------");
                const arr = str.split("-");
                // 省市区
                this.addrInfo.province = arr[0];
                this.addrInfo.city = arr[1];
                this.addrInfo.area = arr[2];
                //判断是否为空
                if (this.addrInfo.mobile == "" &&
                    this.addrInfo.receiver == "" &&
                    this.addrInfo.addr == "" &&
                    this.addrInfo.province == "") {
                    console.log("姓名或电话不能为空")
                } else {
                    const res = await EditAddrInfo(this.addrInfo);
                    console.log(res, "----添加地址----");
                    if (res == "修改地址成功") {
                        uni.showToast({
                            title: '修改地址成功',
                            icon: 'none'
                        });
                        // uni.setStorageSync('addrId', this.addrInfo.addrId);
                        uni.navigateBack({
                            delta: 1
                        });
                    } else {
                        uni.showLoading({
                            title: res
                        });
                    }

                }
                //判断是否设置默认地址
                // console.log(this.addrInfo.commonAddr,"this.addrInfo.commonAddr");
                if (this.addrInfo.commonAddr) {
                    uni.setStorageSync('addrId', this.addrInfo.addrId)
                }
            } catch (err) {
                console.error(err);
            }

        },
        // 删除地址
        async delBtn() {
            console.log(this.addrInfo.addrId);
            const res = await DelAddrInfo(this.addrInfo.addrId);
            console.log(res, "----------del_res-------");
            if (res == "默认地址无法删除") {
                uni.showToast({
                    title: res,
                    icon: 'none'
                });
            } else {
                uni.navigateBack({
                    delta: 1
                });
            }

        }
    },
}
</script>
  
 
<style lang="scss" scoped>
.editress {
    width: 100%;
    height: 100%;
    background: rgb(241, 241, 241);

    .kong {
        width: 100%;
        height: 2px;
        // background: rgb(241, 241, 241);
    }

    .kong1 {
        width: 100%;
        height: 10px;
        // background: rgb(241, 241, 241);
    }

    p {
        height: 50px;
        width: 90%;
        padding-left: 10px;
        display: flex;
        background-color: rgb(255, 255, 255);
        line-height: 50px;
        margin-top: 10px;
        margin-left: 3%;
        border-radius: 10px;

        text {
            display: inline-block;
            width: 50px;
            text-align: center;
        }

        input {
            width: 80%;
            padding-left: 15px;
            margin-top: 13px;
        }

        .switch {
            padding-left: 135px;
        }

    }

    .btnBox {
        width: 100%;
        margin-top: 20px;
        color: white;

        button {
            margin-top: 10px;
            width: 94%;
            border-radius: 100px;
            overflow: hidden;
            background-color: rgb(238, 10, 36);
            color: white;
            height: 40px;
            line-height: 40px;
        }

        .delBtn {
            background-color: white;
            color: #000;
        }
    }
}
</style>