<template>
  <!-- 绑定手机号 -->
  <view class="container">
    <view class="uni-form-item uni-column">
      <text class="title">手机号码:</text>
      <input
        class="uni-input"
        focus
        placeholder="输入手机号"
        v-model="phoneNumber"
      />
    </view>

    <view class="uni-form-item uni-column">
      <text class="title">验证码:</text>
      <input class="uni-input1" focus placeholder="输入验证码" v-model="code" />
      <text class="title1" @click="obtain">{{ showTitle }}</text>
    </view>

    <button type="default" class="bnt" :disabled="bntShow" @click="bntsure">
      确定
    </button>
  </view>
</template>

<script>
export default {
  name: "BindNumber",

  data() {
    return {
      phoneNumber: "",
      code: "",
      bntShow: true,
      showTitle: "获取验证码",
      timer: null,
      totalTimer: 5,
      identifyCode: "",
      makeCode: null,
      random: 0,
    };
  },

  watch: {
    phoneNumber(newVal, oldVal) {
      if (newVal && this.code !== "") {
        this.bntShow = false;
      } else {
        this.bntShow = true;
      }
    },
    code(newVal, oldVal) {
      if (newVal && this.phoneNumber !== "") {
        this.bntShow = false;
      } else {
        this.bntShow = true;
      }
    },
  },

  methods: {
    //点击发送验证码
    async obtain() {
      let reg = /^[1][3,4,5,7,8,9][0-9]{9}$/;
      if (this.phoneNumber === "") {
        uni.showToast({
          title: "请输入手机号",
          duration: 1000,
          icon: "none",
        });
        return;
      }

      if (!reg.test(this.phoneNumber)) {
        uni.showToast({
          title: "请输入正确的手机号",
          icon: "none",
        });
        return;
      }
   
      let random = Math.random().toString().slice(-6);// 随机生成4位的数字
      //倒计时
      this.timer = setInterval(() => {
        this.totalTimer--;
        this.showTitle = this.totalTimer + "s";

        if (this.totalTimer < 0) {
          this.showTitle = "获取验证码";
          this.totalTimer = 5;
          clearInterval(this.timer);
          uni.showToast({
            title: `验证码${random}`,
            icon: "none",
            duration: 2000,
          });
        }
      }, 1000);

      this.random = random;

      console.log(random);
    },

    //点击确定按钮
    async bntsure() {
      let reg = /^[1][3,4,5,7,8,9][0-9]{9}$/;
      if (!reg.test(this.phoneNumber)) {
        uni.showToast({
          title: "请输入正确的手机号",
          icon: "none",
        });
        return;
      }

      if (this.random !== this.code) {
        uni.showToast({
          title: "请输入正确的验证码",
          icon: "none",
        });
        return;
      }

      uni.navigateBack({
        delta: 1,
      });
    },
  },
};
</script>

<style scoped>
.container {
  width: 100%;
  height: 1200rpx;
  background: rgb(245, 243, 243);
  overflow: hidden;
}

.uni-form-item {
  display: flex;
  margin-top: 10rpx;
  background: white;
  height: 100rpx;
  align-items: center;
  padding-left: 20rpx;
}
.uni-input {
  padding-left: 30rpx;
}
.uni-input1 {
  padding-left: 53rpx;
}
.title {
  font-size: 28rpx;
}
.title1 {
  color: green;
  font-size: 28rpx;
  padding-left: 10rpx;
}

.bnt {
  margin-top: 40rpx;
  border-radius: 60rpx;
  border: 1px solid #cccccc;
  background: #3eb370;
  color: aliceblue;
}

.uni-input,
.uni-input1 {
  font-size: 28rpx;
}
</style>
