<template>
    <view class="order_details">
        <view class="order_details_addr">
            <view class="addr_top">
                <text class="addr_top_name">{{ userAddrDto.receiver }}</text>
                <text class="addr_top_tall">{{ userAddrDto.mobile }}</text>
            </view>
            <view class="addr_bottom">
                <text class="addr_bottom_addr">{{ userAddrDto.province }}{{ userAddrDto.city }}{{ userAddrDto.area }}{{ userAddrDto.addr }}</text>
            </view>
        </view>
        <view class="order_details_shop">
            <view class="shopItem" v-for="(item,index) in orderList" :key="index" @click="to_deta(item.prodId)">
                <dl class="shopItem_idnex">
                    <dt class="dt">
                        <img :src="item.pic" alt="">
                    </dt>
                    <dd class="dd">
                        <p class="shopItem_prodName">{{item.prodName}}</p>
                        <p class="shopItem_prodCount">数量：{{item.prodCount}}</p>
                        <p class="shopItem_total">
                            <span>
                                ￥<span class="big_num">{{item.productTotalAmount}}</span>.00
                            </span>
                            <button class="btn">申请售后</button>
                            <button class="btn">加购物车</button>
                        </p>
                    </dd>
                </dl>
            </view>
        </view>
        <view class="order_details_topay">
            <view class="_topay_top">
                <p><span class="span_color">订单编号：</span>{{orderNumber}}</p>
                <p><span class="span_color">下单时间：</span>{{createTime}}</p>
            </view>
            <view class="_topay_bottom">
                <p><span class="span_color">支付方式：</span>微信支付</p>
                <p><span class="span_color">配送方式：</span>普通配送</p>
                <p><span class="span_color">订单备注：</span>{{remark}}</p>
            </view>
        </view>
        <view class="order_details_price">
            <p>
                <span class="span_color">订单总额：</span>
                <span class="price_num"><span class="price_sum">{{total}}</span>.00</span>
            </p>
            <p>
                <span class="span_color">运费：</span>
                <span class="price_num"><span class="price_sum">{{transfee}}</span>.00</span>
            </p>
            <p>
                <span class="span_color">优惠券：</span>
                <span class="price_num">-<span class="price_sum">{{couponMoney?couponMoney:0}}</span>.00</span>
            </p>
            <p class="slize">
                <span>实付款：<span>{{actualTotal.toString().split('.')[0]}}</span>{{actualTotal.toString().split('.')[1]?'.' + actualTotal.toString().split('.')[1] : '.00'}}</span>
            </p>
        </view>
        <view class="null"></view>
        <View class="order_details_func">
            <view>
                <button class="btn">联系客服</button>
                <button class="btn btn_color">再次购买</button>
            </view>
        </View>
    </view>
</template>

<script>
import {get_order} from "../../services/order"
export default {
    data(){
        return {
            orderList:[],
            actualTotal:"",//订单总价
            couponMoney:"",//优惠券
            discountMoney:"",//促销活动优惠金额
            userAddrDto:[], //用户地址
            orderNumber:'',
            createTime:'',
            remark:"",
            total:"",
            transfee:""
        }
    },
    async onLoad(options){
        this.orderNumber = options.orderNumber
        await this.get_order_details(options)
    },
    methods: {
        async get_order_details({orderNumber}) {
            // console.log(orderNumber,"订单编码");
            let res = await get_order({orderNumber})
            console.log(res,"订单详情");
            this.orderList = res.orderItemDtos;
            this.actualTotal = res.actualTotal;
            this.couponMoney = res.couponMoney;
            this.discountMoney = res.discountMoney;
            this.userAddrDto = res.userAddrDto;
            this.createTime = res.createTime;
            this.remark = res.remark;
            this.total = res.total;
            this.transfee = res.transfee;
        },
        async to_deta( prodId ){
            await this.$goPage({
                url: "/detailPkg/details/index",
                query: {
                    prodId
                }
            });
        }
    },
}
</script>

<style lang="scss">
.order_details{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    overflow: auto;
    .order_details_addr{
        width: 100%;
        height: 60px;
        background-color: #ffffff;
        .addr_top{
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            .addr_top_name{
                margin-right: 20px;
                margin-left: 20px;
            }
        }
        .addr_bottom{
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            .addr_bottom_addr{
                color: #cccccc;
                margin-left: 20px;
            }
        }
    }
    .order_details_shop{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        margin-top: 10px;
        .shopItem{
            width: 100%;
            height: 120px;
            border-bottom: solid 1px #f5f5f5;
            .shopItem_idnex{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .dt{
                    width: 100px;
                    height: 100px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .dd{
                    width: 70%;
                    height: 100%;
                    .shopItem_prodName{
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    .shopItem_prodCount{
                        width: 100%;
                        height: 30px;
                        color: #c5c5c5;
                    }
                    .shopItem_total{
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .big_num{
                            font-size: 18px;
                        }
                        .btn{
                            width: 80px;
                            height: 30px;
                            font-size: 14px;
                            padding: 0;
                            margin: 0;
                            display: inline-block;
                            line-height: 30px;
                            border-radius: 20px;
                        } 
                    }
                }
            }
        }
    }
    .order_details_topay{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        margin-top: 10px;
        ._topay_top{
            width: 100%;
            height: 99px;
            border: solid 1px #f3f3f3;
            p{
                width: 100%;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                padding: 0 10px;
                .span_color{
                    color: #cccccc;
                }
            }
        }
        ._topay_bottom{
            width: 100%;
            height: 150px;
            p{
                width: 100%;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                padding: 0 10px;
                .span_color{
                    color: #cccccc;
                }
            }
        }
    }
    .order_details_price{
        width: 100%;
        height: 200px;
        background-color: #ffffff;
        margin-top: 10px;
        p{
            width: 100%;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            // padding: 0 10px;
            display: flex;
            justify-content: space-between;
            span{
                margin: 0 10px;
            }
            .span_color{
                color: #cccccc;
            }
            .price_num{
                float: right;
                color: #ff0000;
                font-size: 12px;
                .price_sum{
                    font-size: 16px;
                }
            }
        }
        .slize{
            justify-content: flex-end;
            color: #ff0000;
            border-top: solid 1px #f5f5f5;
            span{
                font-size: 16px;
            }
        }
    }
    .null{
        width: 100%;
        height: 60px;
    }
    .order_details_func{
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        position: fixed;
        bottom: 0;
        border-top: solid 1px #f5f5f5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .btn{
            width: 100px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            display: inline-block;
            border-radius: 20px;
            border: none;
            margin-left: 10px;
            margin-right: 10px;
        }
        .btn_color{
            background-color: #ff0000;
            color: #ffffff;
        }
    }
}
</style>