<template>
  <view class="detail">
    <view class="detailhead">
      <!-- 轮播图 -->
      <view class="swiper">
        <view>
          <view class="uni-margin-wrap">
            <swiper
              class="swiper"
              circular
              :indicator-dots="indicatorDots"
              :autoplay="autoplay"
              :interval="interval"
              :duration="duration"
            >
              <swiper-item v-for="(item, index) in imgs" :key="index">
                <img :src="item" class="swiperimg" />
              </swiper-item>
            </swiper>
          </view>
        </view>
      </view>
      <!-- 标题 -->
      <view class="detailtitle">
        <text class="detailName">{{ detailObj.prodName }}</text>
        <viwe class="detailicon">
          <button @click="collect">
            <img
              :src="
                islike
                  ? '../../static/icon/prod-col-red.png'
                  : '../../static/icon/prod-col.png'
              "
              alt=""
            />
          </button>
          <view>收藏</view>
        </viwe>
      </view>

      <view class="detailbrief">{{ detailObj.brief }}</view>
      <!-- 价格 -->
      <view class="detailprice">
        <text>￥</text>
        {{ detailObj.price }}
      </view>
      <!-- 选中 -->
      <view class="detailselect" @click="showPopup">
        <view class="detailxuan">
          已选 
          <span class="detailsletter"> {{ skuObj.defaultSkuList.join(",") }} {{ skuObj.selectedCount }}件</span>
       </view>
        
          <view class="detaildian">...</view>
        <!-- <text v-if="!disabled">
          {{ skuObj.defaultSkuList.join(",") }}
        </text> -->
        <!-- <h6 v-else>无货</h6> -->
      </view>
      <!-- 评价 -->
      <view class="detailapp">
        <view @click="open">
          <view class="detailping">
            <view>
              评价
              <text style="color: rgb(216, 60, 74)"
                >好评度{{ commentList.positiveRating }}%</text
              >
            </view>
            <view>共{{ commentList.number }}条> </view>
          </view>
          <view class="detailappBtn">
            <view class="detailTopbtn">
              <text>全部({{ commentList.number }})</text>
              <text>好评({{ commentList.praiseNumber }})</text>
              <text>中评({{ commentList.secondaryNumber }})</text>
              <text>差评({{ commentList.negativeNumber }})</text>
              <text>有图({{ commentList.picNumber }})</text>
            </view>
          </view>
        </view>
      </view>
      <!-- content -->
      <viwe v-html="detailObj.content"> </viwe>
    </view>
    <!-- 加入购物车弹出层 客服 -->
    <view class="bottom">
      <view class="buttom_shop">
        <button class="btn icon" open-type="contact">
          <img src="../../static/icon/kefu.png" alt="" />客服
        </button>
        <button class="btn icon" @click="goCart">
          <!-- <button> -->
          <img src="../../static/basket.png" alt="" />购物车
          <!-- </button> -->

          <view v-if="shopNum > 0" class="badge badge-1">{{ shopNum }}</view>
        </button>

        <button @click="showPopup" class="popup_butshopwu">加入购物车</button>
        <!--  @click="BuyShop" -->
        <button class="popup_butbuywu"  @click="BuyShop">立即购买</button>
      </view>
      <!-- 弹出层 -->
      <uni-popup ref="popup" type="bottom" class="popup">
        <view class="popup_content">
          <!-- 信息 -->
          <view class="popup_info">
            <img
              :src="
                skuObj.selectedPic.length ? skuObj.selectedPic : detailObj.pic
              "
              alt=""
            />
            <view class="popup_infoPric">
              <text>￥{{ skuObj.selectedPrice }}</text>
              <h6 v-if="!disabled">
                <span  class="detailxuan">
                  已选
                </span>
                
                {{ skuObj.defaultSkuList.join(",") }} {{ skuObj.selectedCount }}件
              </h6>
              <h6 v-else>无货</h6>
              <!-- </view> -->
            </view>
            <h2 class="popup_close" @click="showPopupclose">×</h2>
          </view>

          <view v-if="skuObj.propertiesList.length" class="popup_title">
            <view
              v-for="(item, index) in skuObj.propertiesList"
              :key="index"
              class="shuitem"
            >
              <text class="info_title">{{ item.title }}</text>
              <!-- <view> -->
              <button
                v-for="(item2, ind2) in item.titlePlus"
                :key="ind2"
                :class="[
                  isActive({
                    ind: index,
                    item: item2,
                  }),
                ]"
                @click="
                  handleSel({
                    ind: index,
                    item: item2,
                  })
                "
              >
                {{ item2 }}
              </button>
              <!-- </view> -->
            </view>
          </view>
          <view class="popup_num">
            <span>数量</span>
            <view>
              <button @click="handChangeCount(-1)">-</button>
              <span>{{ skuObj.selectedCount }}</span>
              <button @click="handChangeCount(1)">+</button>
            </view>
          </view>
          <view class="popup_but">
            <button class="popup_butshop" @click="addshop">加入购物车</button>
            <button class="popup_butbuy" @click="BuyShop">立即购买</button>
          </view>
        </view>
      </uni-popup>
    </view>

    <!-- 评论弹出层 -->
    <uni-popup ref="popupapp" type="top" class="detailtop">
      <view class="detailgood">
        <view>
          <text>商品评价</text>
          <text style="color: rgb(216, 60, 74)">好评度0%</text>
        </view>
        <view @click="close" class="detailclose">×</view>
      </view>
      <!-- <hr/> -->
      <view class="detailComm">
        <view class="detailTopbtn">
          <text
             @click="getProdCommPage"
            data-evaluate="0"
            :class="evaluate == 0 ? 'selected' : ''"
          >全部({{ commentList.number }})
          </text>
          <text
           @click="getProdCommPage"
            data-evaluate="1"
            :class="evaluate == 1 ? 'selected' : ''"
          >好评({{ commentList.praiseNumber }})
          </text>
          <text 
           @click="getProdCommPage"
            data-evaluate="2"
            :class="evaluate == 2 ? 'selected' : ''"
          >中评({{ commentList.secondaryNumber }})
          </text>
          <text 
           @click="getProdCommPage"
            data-evaluate="3"
            :class="evaluate == 3 ? 'selected' : ''"
          >差评({{ commentList.negativeNumber }})
          </text>
          <text 
           @click="getProdCommPage"
            data-evaluate="4"
            :class="evaluate == 4 ? 'selected' : ''"
            >有图({{ commentList.picNumber }})
            </text>
        </view>
        <view class="commList"> </view>
      </view>

    </uni-popup>
  </view>
</template>

<script>
import {
  _get_detail,
  _add_cart,
  requestcarcount,
  collect_list,
  collect_islist,
  _buy_Shop,
  _shop_num,
  commentnum,
} from "../../services/detail";
import { getCart_list } from "../../services/shop/index"
export default {
  data() {
    //组件内部数据
    return {
      detailObj: {},
      imgs: [],
      islike: false, //收藏
      shopNum: 0, //购物车商品数量
      commentList: {}, //评论
       evaluate: 0, //评价下标
      skuObj: {
        defaultSkuList: [], //默认选中
        propertiesList: [],
        selectedPic: "", //选中图片
        selectedPrice: 0, //选中商品的价格
        selectedCount: 1, //选中商品的数量
        selectskuId: "", //skuId
        totalCartNum: 0, //购物车数量
      },
      disabled: false,
      indicatorDots: true,
      autoplay: true,
      interval: 2000,
      duration: 500,
    };
  },
  watch: {
    "skuObj.defaultSkuList"(val) {
      const currentSel = this.haveSkuItem(val);
      // 修改价格，图片
      this.skuObj.selectedPrice = currentSel.price;
      this.skuObj.selectedPic = currentSel.pic;
      this.skuObj.selectskuId = currentSel.skuId;
    },
  },
  async onLoad(options) {
    // console.log(options.prodId);
    this.id = options.prodId;
    // 获取到对应的数据
    this.init(this.id);

    // 购物车
    const res = await requestcarcount();
    if (typeof res === "object") {
      this.totalCartNum = 0;
    } else {
      this.totalCartNum = res;
    }
  },
  methods: {
    // 立即购买
    // pages/orderDetails/index
    async BuyShop() {
      const res = await _add_cart({
        basketId: 0,
        count: this.skuObj.selectedCount,
        prodId: this.id,
        shopId: 1,
        skuId: this.skuObj.selectskuId,
      });
      console.log(res, "----tianjai ---");
      if (res == "添加成功" || res.statusCode == 200) {
        const res1 = await getCart_list();
        // console.log(res1[0].shopCartItemDiscounts[0].shopCartItems, '购物车数据');
        if (res1[0].shopCartItemDiscounts[0].shopCartItems) {
          console.log(res1[0].shopCartItemDiscounts[0].shopCartItems[0], this.detailObj, '-------');
          const arr = res1[0].shopCartItemDiscounts[0].shopCartItems.filter((item) => {
            return item.prodName.includes(this.detailObj.prodName)
          })
          console.log(arr, '----arrr--');
          if (arr.length) {
            this.$goPage({
              url: "/pages/placeorder/index",
              query: {
                arr: JSON.stringify(arr),
                totalPrice: this.skuObj.selectedPrice * this.skuObj.selectedCount,
                totalNum: this.skuObj.selectedCount,
                flag: true
              },
            });
          }

        }
      }
    },
      // 评论
    getProdCommPage(e) {
      // console.log(e.currentTarget.dataset.evaluate);
      // 点击改变下标进行高亮
      this.evaluate = e.currentTarget.dataset.evaluate;
    },
    //  // 收藏
    async collect() {
      uni.showToast({
        mask: true,
        icon: "loading",
        duration: 100,
      });
      this.islike = !this.islike;
      const res = await collect_list(this.id);
    },
    async isCollect() {
      // 判断商品id是否存在
      const like = await collect_islist({ prodId: this.id });
      console.log("likedfgsdfgv----", like);
      // 点击时将islike改为相反的值
      this.islike = typeof like === "boolean" ? like : like?.data;
      console.log("lile----", this.flag);
    },
    // 添加购物车
    addshop() {
      // 判断
      if (!this.disabled) {
        this.setAddShop({
          basketId: 0,
          count: this.skuObj.selectedCount,
          prodId: this.id,
          shopId: 1,
          skuId: this.skuObj.selectskuId,
        });
      }
    },
    // code码出提示
    async setAddShop(data) {
      try {
        const res = await _add_cart(data);
        if (res) {
          uni.showToast({
            title: res,
            icon: "none",
          });
        }
        if (res.statusCode === 200) {
          uni.showToast({
            title: "加入购物车成功",
            icon: "none",
          });
        }
        const result = await requestcarcount();
        if (typeof result === "object") {
          this.totalCartNum = 0;
        } else {
          this.totalCartNum = result;
        }
      } catch (error) {
        console.log(error, "=============");
      }
    },
    goCart() {
      uni.switchTab({
        url: "/pages/cart/index",
      });
    },
    handChangeCount(num) {
      if (num === -1 && this.skuObj.selectedCount === 1) return;
      this.skuObj.selectedCount = this.skuObj.selectedCount + num;
    },
    handleSel({ ind, item }) {
      // console.log(ind,item);
      this.disabled = this.isActive({ ind, item }).trim() === "disabled";
      let { defaultSkuList } = this.skuObj;
      defaultSkuList[ind] = item;
      this.skuObj.defaultSkuList = [...defaultSkuList];
    },
    haveSkuItem(selectProtites) {
      return this.detailObj.skuList.find(
        ({ skuName }) => selectProtites.join(" ") === skuName
      );
    },
    // 判断是否是当前选中的属性
    isActive({ ind, item }) {
      //  0：属性名  1：属性名  2：属性名
      const selectProtites = [...this.skuObj.defaultSkuList];
      selectProtites[ind] = item;
      // console.log(selectProtites,'=====');
      let flag = "";
      this.skuObj.defaultSkuList.forEach((val, i) => {
        if (ind === i && item === val) {
          flag = "active";
        }
      });
      // 选的东西 是否还有
      flag = this.haveSkuItem(selectProtites) ? flag : flag + "disabled";
      // console.log(flag, "====flag===");
      return flag;
    },
    // 弹出层
    showPopup() {
      this.$refs.popup.open("bottom");
    },
    showPopupclose() {
      this.$refs.popup.close("");
    },
    open() {
      this.$refs.popupapp.open("left");
    },
    close() {
      this.$refs.popupapp.close();
    },
    formatHTML(str) {
      // 匹配detailObj.content中的样式
      return str
        .replace(/width\=\"\d+\"/g, 'width="100%"')
        .replace(/height\=\"\d+\"/g, "");
    },
    formatSKU(skuList) {
      // 判断skuList是否为空数组
      // console.log(skuList,"skiList");
      if (skuList.length) {
        // 必须有sku
        const { properties, skuName } = skuList[0]; //默认第一个
        this.skuObj.defaultSkuList = skuName.split(/\s/);
        // console.log(this.skuObj.defaultSkuList);
        if (properties) {
          // 处理商品规格参数
          this.skuObj.propertiesList = properties
            .split(";")
            .map((item, index) => {
              const [title] = item.split(":");
              // 去重
              const titlePlus = [
                ...new Set(
                  skuList.map(({ skuName }) => skuName.split(/\s/)[index])
                ),
              ];
              // console.log(titlePlus);
              return {
                title,
                titlePlus,
              };
            });
          // console.log(this.skuObj.propertiesList);
        }
      }
    },
    //初始化
    async init(id) {
      const result = await _get_detail(id);
      const shoppingNum = await _shop_num();
      // console.log(shoppingNum,"购物车商品数量");
      // 购物车商品数量
      this.shopNum = shoppingNum;
      // console.log(result, "======");
      // 图片
      const image = result.imgs.split(",");
      this.imgs = image;
      // console.log(this.imgs,'img');
      result.content = this.formatHTML(result.content);
      this.detailObj = result;
      this.formatSKU(result.skuList);
      // console.log(result, "skObj");
      this.skuObj.selectedPic = result.pic;
      this.skuObj.selectedPrice = result.price;
      this.isCollect();
      // 评论
      const commentresult = await commentnum(id);
      // console.log(commentresult,"评论");
      this.commentList = commentresult;
    },
  },
};
</script>

<style>
.detail {
  background: #f3f3f3;
  width: 100%;
  height: 100%;
}

.detailhead {
  width: 100%;
  height: calc(100% - 50px);
  background: #ffffff;
  /* margin-bottom: 10px; */
  overflow: scroll;
}

.bottom {
  flex: 1;
  overflow: hidden;
  margin-bottom: 0px;
  /* height: 50px; */
}
/* title/icon */
.detailtitle {
  /* height: 50px; */
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  /* line-height: 20px; */
}
/* !element.style {
    padding-bottom: 0;
} */
.vue-ref {
  padding-bottom: 0 !important;
}
/* 轮播图 */
.swiper {
  width: 100%;
  height: 750rpx;
}
.swiper img {
  display: inline-block;
  width: 100%;
  height: 750rpx;
}
/* title */
.detailName {
  font-size: 14px;
  flex-wrap: wrap;
  /* width: 20px; */
}
.vue-ref {
  padding-bottom: -34rpx;
}

/* icon图标 */
.detailicon {
  width: 28px;
  height: 28px;
  font-size: 14px;
  text-align: center;
  border-left: 0.5px solid #ccc;
}
.detailicon button {
  height: 20px;
  width: 30px;
  border: none;
  background: #fff;
  line-height: 20px;
  text-align: center;
}
.detailicon img {
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  margin-left: -10px;
  /* margin-left: 10px; */
}

.detailicon view {
  font-size: 8px;
  /* padding-left: 10px; */
  text-align: center;
  color: #696969;
  line-height: 15px;
}

/* 介绍 */
.detailbrief {
  color: #999;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

/* 价格 */
.detailprice {
  color: #e22450;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

.detailprice text {
  font-weight: normal;
  font-size: 10px;
  padding-left: 10px;
}
.popup {
  width: 100%;
  height: calc(100% - 50px);
  /* height: 100%; */
  overflow: scroll;
  background: #ffffff;
  margin-bottom: -60rpx;
}
/* 已选 */
.detailselect {
  height: 30px;
  width: 100%;
  line-height: 30px;
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
}
.detailxuan {
  color: #999;
  padding-right: 5px;
  padding-left: 5px;
}
/* 三点 */
.detaildian{
   color: #999;
  padding-right: 5px;
  padding-left: 5px;
}
.detailsletter{
  font-weight: bolder;
  margin-left: 20rpx;
  color: #000;
}
.detailgood {
  height: 30px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  /* margin-top: 10px; */
  padding-top: 10px;
}
.detailapp {
  margin-top: 10px;
  margin-bottom: 10px;
}
.detailapp .detailping {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #ccc;
  line-height: 30px;
}

.vue-ref {
  width: 100% !important;
}
/* 评价 */
.detailtop {
  background: #fff;
  width: 100% !important;
}
.detailComm .detailTopbtn .selected {
    color: #fff;
    background: #e93b3d;
}
.detailComm {
  width: 100%;
  height: calc(100% - 30px) !important;
  background: #fff;
  overflow: hidden;
}
.detailComm .detailTopbtn {
  width: 100%;
  overflow: hidden;
  /* padding: 10px; */
  height: 50px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.commList {
  height: calc(100% - 80px);
  width: 100%;
  overflow: scroll;
  background: #ffffff;
}
.detailTopbtn {
  width: 100%;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  /* padding-top: 10px; */
  /* padding-left: 10px; */
}
.detailTopbtn text {
  margin: 0 10px 10px 0;
  background: #fdf0f0;
  display: inline-block;
  padding: 0 10px;
  height: 25px;
  border-radius: 3px;
  line-height: 25px;
  font-size: 12px;
  font-family: -apple-system, Helvetica, sans-serif;
  color: #666;
}
.detailclose {
  width: 30px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  /* border: none; */
  font-size: 15px;
  font-weight: bold;
  color: #999;
}
/* 弹出层 */
.popup_info {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
}
.popup_infoPric {
  margin-top: 40px;
}
element.style {
  padding-bottom: 0px;
}
/* 弹出层 图片 */
.popup_info img {
  width: 85px;
  height: 90px;
  display: inline-block;
  padding: 5px;
}
.popup_info text {
  color: #e22450;
}
.popup_title {
  background: #ffffff;
  padding-left: 10px;
}
.popup_list {
  /* margin-top: 15px; */
  padding-top: 15px;
}
.popup_list text {
  color: #a3a3a3;
}
.popup_btn {
  display: flex;
  justify-content: space-around;
  color: #353535;
}
.popup_title button {
  /* width: 30%; */
  height: 30px;
  font-size: 14px;
  background: #f2f2f2;
  display: flex;
  color: #353535;
  text-align: center;
}
.popup_num {
  height: 50px;
  color: #a3a3a3;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.popup_num span {
  line-height: 30px;
}

.popup_num view {
  display: flex;
  justify-content: space-around;
  line-height: 30px;
}
.popup_num view button {
  width: 40px;
  height: 30px;
  line-height: 30px;
}

.popup_but {
  display: flex;
  width: 100%;
}
.popup_but button {
  width: 50%;
  /* color: #; */
}
.popup_butshop {
  background: #574e61;
  color: #fffdff;
  border-radius: 0%;
}
.popup_butbuy {
  background: #eb2443;
  color: #fff2f1;
  border-radius: 0%;
}
.popup_butshopwu {
  background: #574e61;
  color: #fffdff;
  font-size: 14px;
  border-radius: 0%;
  /* line-height: 30px; */
  /* margin-top: 10px; */
  padding-top: 25px;
  /* height: 60px; */
}
.popup_butbuywu {
  background: #eb2443;
  color: #fff2f1;
  border-radius: 0%;
  font-size: 14px;
  line-height: 60px;
  padding-top: 25px;
  /* height: 60px; */
}
.buttom_shop {
  display: flex;
  margin-top: -10px;
  /* height: 60px; */
  width: 100%;
  height: 60px;
  /* line-height: 60px; */
}
.buttom_shop button {
  width: 50%;
  border-radius: 0%;
  line-height: 20px;
  height: 60px;
}
.buttom_shop view {
  width: 50px;
  height: 50px;
  text-align: center;
  /* line-height: 50px; */
}
.buttom_shop img {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.icon .badge-1 {
  width: 36rpx;
}

.icon .badge {
  position: absolute;
  top: 30rpx;
  left: 65rpx;
  display: inline-block;
  /* width: 28rpx; */
  height: 28rpx;
  border-radius: 25rpx;
  background-color: #eb2444;
  text-align: center;
  line-height: 28rpx;
  font-size: 18rpx;
  color: #fff;
}
.btn.icon {
  flex-grow: 0;
  flex-shrink: 0;
  width: 125rpx;
  font-size: 20rpx; 
  color: #666;
}
.btn {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /* width: 25rpx; */
  background-color: #fff;
  font-size: 28rpx;
  flex-flow: column;
  border: none;
  border-radius: 0%;
  background: #f1f1f1f1;
  /* line-height: 1; */
}

.btn.icon img {
  padding-top: 20px;
  width: 50rpx;
  height: 50rpx;
}

.shuitem button {
  display: inline-block;
  margin: 5px;
  /* margin-top: 5px; */
  /* padding: 4rpx 10rpx; */
  /* display: inline-block;
  height: 80rpx;
  line-height: 80rpx; */
  /* font-size: 24rpx;
  padding-left: 10px; */
}
.shuitem button.disabled {
  background: #fff;
  color: #666;
  /* border-style:4px #ccc dashed; */
  border: 1px #ccc dashed;
}
.shuitem button.active {
  background: rgb(216, 60, 74);
  color: #fff;
  border-color: transparent;
}
.info_title {
  display: block;
  font-size: 24rpx;
}
</style>