<template>
   <view class="lives">
      <view class="lives_main">
         <dl class="livesList" v-for="(item,index) in roomList" :key="index" @click="goLiveRoom(item.roomid)">
            <dt>
               <img :src="item.cover_img" alt="">
            </dt>
            <dd>{{item.name}}</dd>
            <dd>主播：{{item.anchor_name}}</dd>
         </dl>
      </view>
      
   </view>
</template>

<script>
export default {
   data () {
      return {
         roomList:[]
      }
   },
   async onLoad () {
      // 获取直播列表
      // console.log(this.$clound);
      try {
         const cloud = await this.$cloud;
         const { result } = await cloud.callFunction({
            name:"liveroom"//云函数名
         })
         // console.log(result);
         this.roomList = result.body.room_info;
      } catch (error) {
         console.error(error,"error");
      }
      
   },
   methods: {
      goLiveRoom (roomid) {
         let customParams = encodeURIComponent(
            JSON.stringify({ path : "pages/lives/index", pid : 1 })
         );//开发者在直播间页面路径上携带自定义参数（比如path和pid），后续可以在分享卡片链接和跳转至商品详情页时获取
         uni.navigateTo({
            url:`plugin-private://wx2b03c6e691cd7370/pages/live-player-plugin?room_id=${roomid}&custom_params=${customParams}`
         })
      },
   },
}
</script>

<style lang="scss">
   .lives{
      width: 100%;
      height: 100%;
      background-color: #f7f7f7;
      overflow: auto;
      padding: 10px;
      .lives_main{
         width: 95%;
         height: auto;
         display: flex;
         flex-wrap: wrap;
         background-color: #f7f7f7;
         justify-content: space-between;
         dl{
            width: 45%;
            height: 300px;
            margin-bottom: 10px;
            padding: 5px;
            background-color: #ffffff;
            border-radius: 7px;
            box-shadow: 0 6px 8px rgba(58, 134, 185, 0.2);
            dt{
               width: 100%;
               height: 200px;
               img{
                  width: 100%;
                  height: 100%;
               }
            }
            dd{
               width: 100%;
               height: 50px;
               line-height: 50px;
               text-indent: 1em;
            }
         }
      }
   }
</style>